# Data preparation with Databao – Web shop orders demo (Case 1)

Welcome! This notebook will walk you through a practical end‑to‑end data preparation workflow for a webshop orders dataset using [Databao](https://databao.app).
You’ll learn how to transform transactional into clean, structured, and insight-ready outputs.

The notebook contains the typical data-preparation steps:
> Understanding → Cleaning → Integration → Feature engineering → Aggregation & export → Insights

This corresponds to the following progression:
> “What data do we have?” → “Is it clean?” → “Can we aggregate and group it?” → “What KPIs can we compute?” → “What are the trends and drivers?” → “What actions do we take?”

The notebook contains a DuckDB file with a sample dataset, and it can be used with both local and cloud LLMs. You can learn more about connecting to data, using LLMs, and running Databao in the [Databao docs](https://jetbrains.github.io/databao-docs/).

Let’s dive in!

In [ ]:
# Install Databao and other packages (safe to re-run)
!pip install -q duckdb databao matplotlib pandas

In [1]:
# Import packages
import os
import duckdb
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display, Markdown

# Connect to the local DuckDB file. `read_only=False` allows registering temp views/DFs.
DB_PATH = "data/web_shop_raw.duckdb"
if not os.path.exists(DB_PATH):
    raise FileNotFoundError(
        f"Expected DuckDB at {DB_PATH}. If you don't have it, check the README for setup instructions."
    )
conn = duckdb.connect(DB_PATH, read_only=False)
print(f"Connected to DuckDB database: {DB_PATH}")

Connected to DuckDB database: data/web_shop_raw.duckdb

In [2]:
# Import Databao and LLM config
import databao
from databao import LLMConfig

### 1. Configure your LLM

Databao supports both cloud and local LLMs.
For this demo, it’s easier and faster to use an OpenAI cloud model, but it requires an API key.

If you prefer to use a local model, all your data remains on your machine, but downloading a model may take some time. Depending on the model you use and your machine specs, generating answers may be slower compared to a cloud model.

For easier setup, this notebook uses a cloud LLM by default. If you prefer to use a local LLM, uncomment the corresponding section and comment out the line with the cloud LLM config.

In [ ]:
# Add your OpenAI API key. Comment out the following line if you prefer to use a local model
%env OPENAI_API_KEY=<YOUR_API_KEY>

In [6]:
# Option A — Cloud model (OpenAI). Low temperature helps produce deterministic SQL/plots
llm_config = LLMConfig(name="gpt-5.1", temperature=0)

# Option B — Local model (Ollama)
# llm_config = LLMConfig.from_yaml("../configs/qwen3-8b-ollama.yaml")  # Use a custom config file

### 2. Create a Databao agent and register sources and context

The following cell registers:
- A DuckDB connection
- A small per‑source schema overview (Markdown file)
- General project‑wide context via `agent.add_context()`

In [7]:
agent = databao.new_agent(llm_config=llm_config)

# Add a DuckDB connection with source context
agent.add_db(conn)

# Add additional project‑wide context (not tied to a specific source)
agent.add_context(
    """
    Project‑wide notes:
    - Monetary values are in EUR, unless stated otherwise.
    - Orders with a status of 'canceled' should be excluded from KPIs unless they're explicitly requested.
    - Treat obviously fake/test rows as data quality issues (e.g., emails like test@, or id like 'Test User').
    - Date columns use UTC timestamps unless noted; compute delivery_days from purchase to delivered_customer.
    """
)

print("Registered DBs:", list(agent.dbs.keys()))

Registered DBs: ['db1']

### 3) Start a thread

- `.ask(prompt)` executes immediately (eager mode) and materializes results.
- If you want to chain several `ask()` calls before executing them, you can switch to lazy mode using `session.thread(lazy=True)`.

In [8]:
thread = agent.thread()

## Step 1 — Understanding data

Question: What data do we have, and how are the tables connected?
Action: Explore schema (orders, items, products, payments, reviews, customers, sellers).
Outcome: Identify key joins (order_id, customer_id, seller_id).

In [9]:
thread.ask(
    """
    Provide a concise schema overview of our webshop database. Include the following:
    - List of core tables (orders, order_items, products, payments, reviews, customers, sellers).
    - Primary keys and foreign keys per table.
    - A short note on how to join them at the order level.
    Return a short Markdown/text summary, keep it tight.
    """
)

======== <THINKING> ========

Here’s a concise schema overview for the webshop database.

---

### Core tables and keys

**orders**
- PK: `order_id`
- FKs:
  - `customer_id` → `customers.customer_id`

**order_items**
- PK: composite (`order_id`, `order_item_id`)
- FKs:
  - `order_id` → `orders.order_id`
  - `product_id` → `products.product_id`
  - `seller_id` → `sellers.seller_id`

**products**
- PK: `product_id`
- FKs:
  - `product_category_name` → `product_category_name_translation.product_category_name` (lookup for English name)

**order_payments**
- PK: composite (`order_id`, `payment_sequential`)
- FKs:
  - `order_id` → `orders.order_id`

**order_reviews**
- PK: `review_id`
- FKs:
  - `order_id` → `orders.order_id`

**customers**
- PK: `customer_id`
- Other important columns:
  - `customer_zip_code_prefix` → `geolocation.geolocation_zip_code_prefix` (location info)

**sellers**
- PK: `seller_id`
- Other important columns:
  - `seller_zip_code_prefix` → `geolocation.geolocation_zip_code_prefix`

---

### How to join at the order level

Typical order‑level join pattern:

```sql
FROM orders o
LEFT JOIN customers c
       ON o.customer_id = c.customer_id
LEFT JOIN order_items oi
       ON o.order_id = oi.order_id
LEFT JOIN products p
       ON oi.product_id = p.product_id
LEFT JOIN sellers s
       ON oi.seller_id = s.seller_id
LEFT JOIN order_payments op
       ON o.order_id = op.order_id
LEFT JOIN order_reviews r
       ON o.order_id = r.order_id
```

For strictly order‑level KPIs (1 row per order), aggregate `order_items` (e.g., sum price, freight, item count) and `order_payments` (e.g., sum payment_value) before or after joining, and treat `order_reviews` as 0–1 row per order (e.g., `MAX(review_score)`).
======== </THINKING> ========

Materialized Thread with 0 data rows.

In [10]:
display(Markdown(thread.text()))

Here’s a concise schema overview for the webshop database.

---

### Core tables and keys

**orders**
- PK: `order_id`
- FKs:
  - `customer_id` → `customers.customer_id`

**order_items**
- PK: composite (`order_id`, `order_item_id`)
- FKs:
  - `order_id` → `orders.order_id`
  - `product_id` → `products.product_id`
  - `seller_id` → `sellers.seller_id`

**products**
- PK: `product_id`
- FKs:
  - `product_category_name` → `product_category_name_translation.product_category_name` (lookup for English name)

**order_payments**
- PK: composite (`order_id`, `payment_sequential`)
- FKs:
  - `order_id` → `orders.order_id`

**order_reviews**
- PK: `review_id`
- FKs:
  - `order_id` → `orders.order_id`

**customers**
- PK: `customer_id`
- Other important columns:
  - `customer_zip_code_prefix` → `geolocation.geolocation_zip_code_prefix` (location info)

**sellers**
- PK: `seller_id`
- Other important columns:
  - `seller_zip_code_prefix` → `geolocation.geolocation_zip_code_prefix`

---

### How to join at the order level

Typical order‑level join pattern:

```sql
FROM orders o
LEFT JOIN customers c
       ON o.customer_id = c.customer_id
LEFT JOIN order_items oi
       ON o.order_id = oi.order_id
LEFT JOIN products p
       ON oi.product_id = p.product_id
LEFT JOIN sellers s
       ON oi.seller_id = s.seller_id
LEFT JOIN order_payments op
       ON o.order_id = op.order_id
LEFT JOIN order_reviews r
       ON o.order_id = r.order_id
```

For strictly order‑level KPIs (1 row per order), aggregate `order_items` (e.g., sum price, freight, item count) and `order_payments` (e.g., sum payment_value) before or after joining, and treat `order_reviews` as 0–1 row per order (e.g., `MAX(review_score)`).

In [11]:
# Ask for quick row counts to gauge table sizes
thread.ask(
    """
    Return a dataframe of row counts for the main tables
    """
)

======== <THINKING> ========

I will compute row counts for each main table in a single query using `UNION ALL` to return a compact summary as one dataframe.

[tool_call: 'run_sql_query']
```
{"sql":"SELECT 'orders' AS table_name, COUNT(*) AS row_count FROM db1.main.orders\nUNION ALL\nSELECT 'order_items' AS table_name, COUNT(*) AS row_count FROM db1.main.order_items\nUNION ALL\nSELECT 'products' AS table_name, COUNT(*) AS row_count FROM db1.main.products\nUNION ALL\nSELECT 'order_payments' AS table_name, COUNT(*) AS row_count FROM db1.main.order_payments\nUNION ALL\nSELECT 'order_reviews' AS table_name, COUNT(*) AS row_count FROM db1.main.order_reviews\nUNION ALL\nSELECT 'customers' AS table_name, COUNT(*) AS row_count FROM db1.main.customers\nUNION ALL\nSELECT 'sellers' AS table_name, COUNT(*) AS row_count FROM db1.main.sellers\nORDER BY table_name;"}
```


```sql
SELECT 'orders' AS table_name, COUNT(*) AS row_count FROM db1.main.orders
UNION ALL
SELECT 'order_items' AS table_name, COUNT(*) AS row_count FROM db1.main.order_items
UNION ALL
SELECT 'products' AS table_name, COUNT(*) AS row_count FROM db1.main.products
UNION ALL
SELECT 'order_payments' AS table_name, COUNT(*) AS row_count FROM db1.main.order_payments
UNION ALL
SELECT 'order_reviews' AS table_name, COUNT(*) AS row_count FROM db1.main.order_reviews
UNION ALL
SELECT 'customers' AS table_name, COUNT(*) AS row_count FROM db1.main.customers
UNION ALL
SELECT 'sellers' AS table_name, COUNT(*) AS row_count FROM db1.main.sellers
ORDER BY table_name;
```


[tool_call_output: 'run_sql_query']
```
query_id='4-0'

table_name,row_count
customers,203
order_items,1352
order_payments,1409
order_reviews,172
orders,606
products,106
sellers,55
```

[df: name=df, showing 7 / 7 rows]
| table_name     |   row_count |
|:---------------|------------:|
| customers      |         203 |
| order_items    |        1352 |
| order_payments |        1409 |
| order_reviews  |         172 |
| orders         |         606 |
| products       |         106 |
| sellers        |          55 |



[tool_call: 'submit_result']
```
{"query_id":"4-0","result_description":"Row counts for the main webshop tables (orders, order_items, products, payments, reviews, customers, sellers). Each row shows the total number of records currently present in that table.","visualization_prompt":""}
```


[tool_call_output: 'submit_result']
```
Query 4-0 submitted successfully. Your response is now visible to the user.
```


======== </THINKING> ========

Materialized Thread with 7 data rows.

In [12]:
row_counts = thread.df()
row_counts

       table_name  row_count
0       customers        203
1     order_items       1352
2  order_payments       1409
3   order_reviews        172
4          orders        606
5        products        106
6         sellers         55

## Step 2 — Cleaning and validation

Question: Are there duplicates or missing values?
Action: Fix data types, clean nulls, remove test rows.
Outcome: Normalized, ready-to-merge datasets.

We will ask Databao to propose cleaning steps and produce cleaned, queryable outputs (views or temp tables) we can reuse.

In [28]:
thread.ask(
    """
    Check tables for common issues and propose pragmatic cleaning steps:
    - Duplicates by natural keys (e.g., one row per order_id in orders etc.).
    - Obvious type issues (timestamps, numerics).
    - Clearly fake/test rows (e.g., customers with emails like '%test%' or ids 'test%').
    show me tables with issues and write down what's wrong with them
    -
    """
)

======== <THINKING> ========

**Evaluating schema values**

Since the schema is already typed, I need to look for nonsensical values, like timestamps that are out of range, nulls in unexpected spots, or negative values for price and payment. I'll verify that review scores are within 1-5, and lengths, weights, and dimensions aren't negative. Also, I want to ensure that the delivery dates are in the correct order. Using functions.run_sql_query, I’ll look for duplicates and type anomalies efficiently by running multiple queries in parallel.**Planning duplicate and type checks**

I'm laying out my approach to identify duplicates in orders. First, I'll run a query to count duplicate rows and distinct order IDs. For example, to get the exact duplicates, I’ll use a subquery to check how many times each order ID appears. I also want to check for chronology issues and nulls in key fields, ensuring the order dates make sense and fall within valid ranges. I'll also note cases where delivery dates might be late but still valid.**Assessing dataset for anomalies**

Since the dataset is small, I can compute the minimum and maximum order purchase dates easily. I should also check for numeric anomalies, like prices and freight values that are less than or equal to zero, and ensure payment values and installments follow expectations. Negative or zero weights or review scores outside the 1-5 range should be checked as well. I'll look for any fake or test rows by searching for 'test' patterns in IDs or city names across multiple tables.**Planning SQL queries for analysis**

I'm considering sampling a few IDs, but the user is mostly interested in a summary, so mentioning counts should be enough. I can run queries in parallel using multi_tool_use.parallel. I need to craft SQL for each part, keeping in mind our previous findings regarding duplicates in orders, products, and sellers. Also, the count of late orders is 181, and there were no 'test' strings found. I'll prepare to execute around 8-10 queries, starting with duplicates for orders and then products, sellers, and customers.**Detailing SQL queries**

Next, I need to create queries for identifying duplicates and anomalies in the dataset. For orders, I'll check composite keys in order_items and payments. I should also review timestamps for orders, particularly looking for anything that's out of order. I'll check numeric values for pricing, freight, and product dimensions to flag any nonpositive entries. Lastly, I want to identify any fake or test rows in customers, sellers, and products. I'll run these queries in parallel for efficiency, aiming for a clear and organized approach across about 10 queries.Step 1: Check each main table for duplicate natural keys (e.g., one row per order_id, product_id, seller_id, etc.).
Step 2: Check for obvious type / range issues in timestamps and key numeric columns.
Step 3: Look for clearly fake/test rows via IDs or cities containing 'test'.

Running these diagnostics in parallel now.

[tool_call: 'run_sql_query']
```
{"sql":"SELECT 'orders' AS table_name,\n       COUNT(*) AS total_rows,\n       COUNT(DISTINCT order_id) AS distinct_keys,\n       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys,\n       SUM(CASE WHEN cnt > 1 THEN cnt - 1 ELSE 0 END) AS extra_rows\nFROM (\n    SELECT order_id, COUNT(*) AS cnt\n    FROM db1.main.orders\n    GROUP BY order_id\n) t;"}{"sql":"SELECT 'products' AS table_name,\n       COUNT(*) AS total_rows,\n       COUNT(DISTINCT product_id) AS distinct_keys,\n       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys,\n       SUM(CASE WHEN cnt > 1 THEN cnt - 1 ELSE 0 END) AS extra_rows\nFROM (\n    SELECT product_id, COUNT(*) AS cnt\n    FROM db1.main.products\n    GROUP BY product_id\n) t;"}{"sql":"SELECT 'sellers' AS table_name,\n       COUNT(*) AS total_rows,\n       COUNT(DISTINCT seller_id) AS distinct_keys,\n       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys,\n       SUM(CASE WHEN cnt > 1 THEN cnt - 1 ELSE 0 END) AS extra_rows\nFROM (\n    SELECT seller_id, COUNT(*) AS cnt\n    FROM db1.main.sellers\n    GROUP BY seller_id\n) t;"}{"sql":"SELECT 'customers' AS table_name,\n       COUNT(*) AS total_rows,\n       COUNT(DISTINCT customer_id) AS distinct_keys,\n       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys,\n       SUM(CASE WHEN cnt > 1 THEN cnt - 1 ELSE 0 END) AS extra_rows\nFROM (\n    SELECT customer_id, COUNT(*) AS cnt\n    FROM db1.main.customers\n    GROUP BY customer_id\n) t;"}{"sql":"SELECT 'order_items' AS table_name,\n       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys\nFROM (\n    SELECT order_id, order_item_id, COUNT(*) AS cnt\n    FROM db1.main.order_items\n    GROUP BY order_id, order_item_id\n) t;"}{"sql":"SELECT 'order_payments' AS table_name,\n       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys\nFROM (\n    SELECT order_id, payment_sequential, COUNT(*) AS cnt\n    FROM db1.main.order_payments\n    GROUP BY order_id, payment_sequential\n) t;"}{"sql":"SELECT 'order_reviews' AS table_name,\n       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys\nFROM (\n    SELECT review_id, COUNT(*) AS cnt\n    FROM db1.main.order_reviews\n    GROUP BY review_id\n) t;"}{"sql":"SELECT 'product_category_name_translation' AS table_name,\n       COUNT(*) AS total_rows,\n       COUNT(DISTINCT product_category_name) AS distinct_keys,\n       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys,\n       SUM(CASE WHEN cnt > 1 THEN cnt - 1 ELSE 0 END) AS extra_rows\nFROM (\n    SELECT product_category_name, COUNT(*) AS cnt\n    FROM db1.main.product_category_name_translation\n    GROUP BY product_category_name\n) t;"}{"sql":"SELECT\n  SUM(CASE WHEN order_approved_at < order_purchase_timestamp THEN 1 ELSE 0 END) AS approved_before_purchase,\n  SUM(CASE WHEN order_delivered_customer_date < order_purchase_timestamp THEN 1 ELSE 0 END) AS delivered_before_purchase,\n  SUM(CASE WHEN order_delivered_customer_date < order_approved_at THEN 1 ELSE 0 END) AS delivered_before_approval,\n  SUM(CASE WHEN order_delivered_customer_date > order_estimated_delivery_date THEN 1 ELSE 0 END) AS delivered_after_estimate,\n  MIN(order_purchase_timestamp) AS min_purchase_ts,\n  MAX(order_purchase_timestamp) AS max_purchase_ts\nFROM db1.main.orders;"}{"sql":"SELECT\n  SUM(CASE WHEN price <= 0 THEN 1 ELSE 0 END)  AS nonpositive_price_rows,\n  SUM(CASE WHEN freight_value < 0 THEN 1 ELSE 0 END) AS negative_freight_rows,\n  SUM(CASE WHEN freight_value = 0 THEN 1 ELSE 0 END) AS zero_freight_rows\nFROM db1.main.order_items;"}{"sql":"SELECT\n  SUM(CASE WHEN payment_value <= 0 THEN 1 ELSE 0 END) AS nonpositive_payment_rows,\n  MIN(payment_value) AS min_payment_value,\n  MAX(payment_value) AS max_payment_value,\n  SUM(CASE WHEN payment_installments < 0 THEN 1 ELSE 0 END) AS negative_installments_rows,\n  SUM(CASE WHEN payment_installments = 0 THEN 1 ELSE 0 END) AS zero_installment_rows,\n  MIN(payment_installments) AS min_installments,\n  MAX(payment_installments) AS max_installments\nFROM db1.main.order_payments;"}{"sql":"SELECT\n  SUM(CASE WHEN product_weight_g <= 0 THEN 1 ELSE 0 END) AS nonpositive_weight_rows,\n  SUM(CASE WHEN product_length_cm <= 0 THEN 1 ELSE 0 END) AS nonpositive_length_rows,\n  SUM(CASE WHEN product_height_cm <= 0 THEN 1 ELSE 0 END) AS nonpositive_height_rows,\n  SUM(CASE WHEN product_width_cm <= 0 THEN 1 ELSE 0 END) AS nonpositive_width_rows\nFROM db1.main.products;"}{"sql":"SELECT\n  SUM(CASE WHEN review_score IS NOT NULL AND (review_score < 1 OR review_score > 5) THEN 1 ELSE 0 END) AS invalid_scores,\n  MIN(review_score) AS min_review_score,\n  MAX(review_score) AS max_review_score\nFROM db1.main.order_reviews;"}{"sql":"SELECT\n  SUM(CASE WHEN LOWER(customer_id) LIKE 'test%' OR LOWER(customer_id) LIKE '%test%' THEN 1 ELSE 0 END) AS test_id_rows,\n  SUM(CASE WHEN LOWER(customer_city) LIKE 'test%' OR LOWER(customer_city) LIKE '%test%' THEN 1 ELSE 0 END) AS test_city_rows\nFROM db1.main.customers;"}{"sql":"SELECT\n  SUM(CASE WHEN LOWER(seller_id) LIKE 'test%' OR LOWER(seller_id) LIKE '%test%' THEN 1 ELSE 0 END) AS test_id_rows,\n  SUM(CASE WHEN LOWER(seller_city) LIKE 'test%' OR LOWER(seller_city) LIKE '%test%' THEN 1 ELSE 0 END) AS test_city_rows\nFROM db1.main.sellers;"}{"sql":"SELECT\n  SUM(CASE WHEN LOWER(order_id) LIKE 'test%' OR LOWER(order_id) LIKE '%test%' THEN 1 ELSE 0 END) AS test_id_rows\nFROM db1.main.orders;"}{"sql":"SELECT\n  SUM(CASE WHEN LOWER(product_id) LIKE 'test%' OR LOWER(product_id) LIKE '%test%' THEN 1 ELSE 0 END) AS test_id_rows,\n  SUM(CASE WHEN LOWER(product_category_name) LIKE 'test%' OR LOWER(product_category_name) LIKE '%test%' THEN 1 ELSE 0 END) AS test_category_rows\nFROM db1.main.products;"}{"sql":"SELECT\n  SUM(CASE WHEN LOWER(review_id) LIKE 'test%' OR LOWER(review_id) LIKE '%test%' THEN 1 ELSE 0 END) AS test_id_rows,\n  SUM(CASE WHEN LOWER(review_comment_title) LIKE '%test%' THEN 1 ELSE 0 END) AS test_title_rows,\n  SUM(CASE WHEN LOWER(review_comment_message) LIKE '%test%' THEN 1 ELSE 0 END) AS test_message_rows\nFROM db1.main.order_reviews;"}
```


```sql
SELECT 'orders' AS table_name,
       COUNT(*) AS total_rows,
       COUNT(DISTINCT order_id) AS distinct_keys,
       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys,
       SUM(CASE WHEN cnt > 1 THEN cnt - 1 ELSE 0 END) AS extra_rows
FROM (
    SELECT order_id, COUNT(*) AS cnt
    FROM db1.main.orders
    GROUP BY order_id
) t;
```


```sql
SELECT 'products' AS table_name,
       COUNT(*) AS total_rows,
       COUNT(DISTINCT product_id) AS distinct_keys,
       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys,
       SUM(CASE WHEN cnt > 1 THEN cnt - 1 ELSE 0 END) AS extra_rows
FROM (
    SELECT product_id, COUNT(*) AS cnt
    FROM db1.main.products
    GROUP BY product_id
) t;
```


```sql
SELECT 'sellers' AS table_name,
       COUNT(*) AS total_rows,
       COUNT(DISTINCT seller_id) AS distinct_keys,
       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys,
       SUM(CASE WHEN cnt > 1 THEN cnt - 1 ELSE 0 END) AS extra_rows
FROM (
    SELECT seller_id, COUNT(*) AS cnt
    FROM db1.main.sellers
    GROUP BY seller_id
) t;
```


```sql
SELECT 'customers' AS table_name,
       COUNT(*) AS total_rows,
       COUNT(DISTINCT customer_id) AS distinct_keys,
       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys,
       SUM(CASE WHEN cnt > 1 THEN cnt - 1 ELSE 0 END) AS extra_rows
FROM (
    SELECT customer_id, COUNT(*) AS cnt
    FROM db1.main.customers
    GROUP BY customer_id
) t;
```


```sql
SELECT 'order_items' AS table_name,
       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys
FROM (
    SELECT order_id, order_item_id, COUNT(*) AS cnt
    FROM db1.main.order_items
    GROUP BY order_id, order_item_id
) t;
```


```sql
SELECT 'order_payments' AS table_name,
       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys
FROM (
    SELECT order_id, payment_sequential, COUNT(*) AS cnt
    FROM db1.main.order_payments
    GROUP BY order_id, payment_sequential
) t;
```


```sql
SELECT 'order_reviews' AS table_name,
       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys
FROM (
    SELECT review_id, COUNT(*) AS cnt
    FROM db1.main.order_reviews
    GROUP BY review_id
) t;
```


```sql
SELECT 'product_category_name_translation' AS table_name,
       COUNT(*) AS total_rows,
       COUNT(DISTINCT product_category_name) AS distinct_keys,
       SUM(CASE WHEN cnt > 1 THEN 1 ELSE 0 END) AS duplicated_keys,
       SUM(CASE WHEN cnt > 1 THEN cnt - 1 ELSE 0 END) AS extra_rows
FROM (
    SELECT product_category_name, COUNT(*) AS cnt
    FROM db1.main.product_category_name_translation
    GROUP BY product_category_name
) t;
```


```sql
SELECT
  SUM(CASE WHEN order_approved_at < order_purchase_timestamp THEN 1 ELSE 0 END) AS approved_before_purchase,
  SUM(CASE WHEN order_delivered_customer_date < order_purchase_timestamp THEN 1 ELSE 0 END) AS delivered_before_purchase,
  SUM(CASE WHEN order_delivered_customer_date < order_approved_at THEN 1 ELSE 0 END) AS delivered_before_approval,
  SUM(CASE WHEN order_delivered_customer_date > order_estimated_delivery_date THEN 1 ELSE 0 END) AS delivered_after_estimate,
  MIN(order_purchase_timestamp) AS min_purchase_ts,
  MAX(order_purchase_timestamp) AS max_purchase_ts
FROM db1.main.orders;
```


```sql
SELECT
  SUM(CASE WHEN price <= 0 THEN 1 ELSE 0 END)  AS nonpositive_price_rows,
  SUM(CASE WHEN freight_value < 0 THEN 1 ELSE 0 END) AS negative_freight_rows,
  SUM(CASE WHEN freight_value = 0 THEN 1 ELSE 0 END) AS zero_freight_rows
FROM db1.main.order_items;
```


```sql
SELECT
  SUM(CASE WHEN payment_value <= 0 THEN 1 ELSE 0 END) AS nonpositive_payment_rows,
  MIN(payment_value) AS min_payment_value,
  MAX(payment_value) AS max_payment_value,
  SUM(CASE WHEN payment_installments < 0 THEN 1 ELSE 0 END) AS negative_installments_rows,
  SUM(CASE WHEN payment_installments = 0 THEN 1 ELSE 0 END) AS zero_installment_rows,
  MIN(payment_installments) AS min_installments,
  MAX(payment_installments) AS max_installments
FROM db1.main.order_payments;
```


```sql
SELECT
  SUM(CASE WHEN product_weight_g <= 0 THEN 1 ELSE 0 END) AS nonpositive_weight_rows,
  SUM(CASE WHEN product_length_cm <= 0 THEN 1 ELSE 0 END) AS nonpositive_length_rows,
  SUM(CASE WHEN product_height_cm <= 0 THEN 1 ELSE 0 END) AS nonpositive_height_rows,
  SUM(CASE WHEN product_width_cm <= 0 THEN 1 ELSE 0 END) AS nonpositive_width_rows
FROM db1.main.products;
```


```sql
SELECT
  SUM(CASE WHEN review_score IS NOT NULL AND (review_score < 1 OR review_score > 5) THEN 1 ELSE 0 END) AS invalid_scores,
  MIN(review_score) AS min_review_score,
  MAX(review_score) AS max_review_score
FROM db1.main.order_reviews;
```


```sql
SELECT
  SUM(CASE WHEN LOWER(customer_id) LIKE 'test%' OR LOWER(customer_id) LIKE '%test%' THEN 1 ELSE 0 END) AS test_id_rows,
  SUM(CASE WHEN LOWER(customer_city) LIKE 'test%' OR LOWER(customer_city) LIKE '%test%' THEN 1 ELSE 0 END) AS test_city_rows
FROM db1.main.customers;
```


```sql
SELECT
  SUM(CASE WHEN LOWER(seller_id) LIKE 'test%' OR LOWER(seller_id) LIKE '%test%' THEN 1 ELSE 0 END) AS test_id_rows,
  SUM(CASE WHEN LOWER(seller_city) LIKE 'test%' OR LOWER(seller_city) LIKE '%test%' THEN 1 ELSE 0 END) AS test_city_rows
FROM db1.main.sellers;
```


```sql
SELECT
  SUM(CASE WHEN LOWER(order_id) LIKE 'test%' OR LOWER(order_id) LIKE '%test%' THEN 1 ELSE 0 END) AS test_id_rows
FROM db1.main.orders;
```


```sql
SELECT
  SUM(CASE WHEN LOWER(product_id) LIKE 'test%' OR LOWER(product_id) LIKE '%test%' THEN 1 ELSE 0 END) AS test_id_rows,
  SUM(CASE WHEN LOWER(product_category_name) LIKE 'test%' OR LOWER(product_category_name) LIKE '%test%' THEN 1 ELSE 0 END) AS test_category_rows
FROM db1.main.products;
```


```sql
SELECT
  SUM(CASE WHEN LOWER(review_id) LIKE 'test%' OR LOWER(review_id) LIKE '%test%' THEN 1 ELSE 0 END) AS test_id_rows,
  SUM(CASE WHEN LOWER(review_comment_title) LIKE '%test%' THEN 1 ELSE 0 END) AS test_title_rows,
  SUM(CASE WHEN LOWER(review_comment_message) LIKE '%test%' THEN 1 ELSE 0 END) AS test_message_rows
FROM db1.main.order_reviews;
```


[tool_call_output: 'run_sql_query']
```
query_id='20-0'

table_name,total_rows,distinct_keys,duplicated_keys,extra_rows
orders,603,603,3.0,3.0
```

[df: name=df, showing 1 / 1 rows]
| table_name   |   total_rows |   distinct_keys |   duplicated_keys |   extra_rows |
|:-------------|-------------:|----------------:|------------------:|-------------:|
| orders       |          603 |             603 |                 3 |            3 |


[tool_call_output: 'run_sql_query']
```
query_id='20-1'

table_name,total_rows,distinct_keys,duplicated_keys,extra_rows
products,100,100,5.0,6.0
```

[df: name=df, showing 1 / 1 rows]
| table_name   |   total_rows |   distinct_keys |   duplicated_keys |   extra_rows |
|:-------------|-------------:|----------------:|------------------:|-------------:|
| products     |          100 |             100 |                 5 |            6 |


[tool_call_output: 'run_sql_query']
```
query_id='20-2'

table_name,total_rows,distinct_keys,duplicated_keys,extra_rows
sellers,50,50,5.0,5.0
```

[df: name=df, showing 1 / 1 rows]
| table_name   |   total_rows |   distinct_keys |   duplicated_keys |   extra_rows |
|:-------------|-------------:|----------------:|------------------:|-------------:|
| sellers      |           50 |              50 |                 5 |            5 |


[tool_call_output: 'run_sql_query']
```
query_id='20-3'

table_name,total_rows,distinct_keys,duplicated_keys,extra_rows
customers,203,203,0.0,0.0
```

[df: name=df, showing 1 / 1 rows]
| table_name   |   total_rows |   distinct_keys |   duplicated_keys |   extra_rows |
|:-------------|-------------:|----------------:|------------------:|-------------:|
| customers    |          203 |             203 |                 0 |            0 |


[tool_call_output: 'run_sql_query']
```
query_id='20-4'

table_name,duplicated_keys
order_items,0.0
```

[df: name=df, showing 1 / 1 rows]
| table_name   |   duplicated_keys |
|:-------------|------------------:|
| order_items  |                 0 |


[tool_call_output: 'run_sql_query']
```
query_id='20-5'

table_name,duplicated_keys
order_payments,0.0
```

[df: name=df, showing 1 / 1 rows]
| table_name     |   duplicated_keys |
|:---------------|------------------:|
| order_payments |                 0 |


[tool_call_output: 'run_sql_query']
```
query_id='20-6'

table_name,duplicated_keys
order_reviews,0.0
```

[df: name=df, showing 1 / 1 rows]
| table_name    |   duplicated_keys |
|:--------------|------------------:|
| order_reviews |                 0 |


[tool_call_output: 'run_sql_query']
```
query_id='20-7'

table_name,total_rows,distinct_keys,duplicated_keys,extra_rows
product_category_name_translation,17,17,0.0,0.0
```

[df: name=df, showing 1 / 1 rows]
| table_name                        |   total_rows |   distinct_keys |   duplicated_keys |   extra_rows |
|:----------------------------------|-------------:|----------------:|------------------:|-------------:|
| product_category_name_translation |           17 |              17 |                 0 |            0 |


[tool_call_output: 'run_sql_query']
```
query_id='20-8'

approved_before_purchase,delivered_before_purchase,delivered_before_approval,delivered_after_estimate,min_purchase_ts,max_purchase_ts
0.0,0.0,0.0,181.0,2025-06-02 02:03:00,2025-09-30 01:36:00
```

[df: name=df, showing 1 / 1 rows]
|   approved_before_purchase |   delivered_before_purchase |   delivered_before_approval |   delivered_after_estimate | min_purchase_ts     | max_purchase_ts     |
|---------------------------:|----------------------------:|----------------------------:|---------------------------:|:--------------------|:--------------------|
|                          0 |                           0 |                           0 |                        181 | 2025-06-02 02:03:00 | 2025-09-30 01:36:00 |


[tool_call_output: 'run_sql_query']
```
query_id='20-9'

nonpositive_price_rows,negative_freight_rows,zero_freight_rows
0.0,0.0,0.0
```

[df: name=df, showing 1 / 1 rows]
|   nonpositive_price_rows |   negative_freight_rows |   zero_freight_rows |
|-------------------------:|------------------------:|--------------------:|
|                        0 |                       0 |                   0 |


[tool_call_output: 'run_sql_query']
```
query_id='20-10'

nonpositive_payment_rows,min_payment_value,max_payment_value,negative_installments_rows,zero_installment_rows,min_installments,max_installments
0.0,7.55,4434.31,0.0,0.0,1,12
```

[df: name=df, showing 1 / 1 rows]
|   nonpositive_payment_rows |   min_payment_value |   max_payment_value |   negative_installments_rows |   zero_installment_rows |   min_installments |   max_installments |

Materialized Thread with 1 data rows.

In [29]:
display(Markdown(thread.text()))

Here are **only the tables with issues**, plus pragmatic cleaning steps.

---

## 1) `orders`

**What’s wrong**

- **Duplicate natural key**
  - Expected: 1 row per `order_id`.
  - Found: multiple `order_id` values with more than one row (3 extra rows in total).
- **Date consistency**
  - No impossible sequences (approval/delivery before purchase).
  - But many orders where
    `order_delivered_customer_date > order_estimated_delivery_date` → **late vs ETA**, not a type error.

**Pragmatic cleaning**

- Build a **deduped orders table/view**:
  - 1 row per `order_id`, using `ROW_NUMBER() OVER (PARTITION BY order_id ORDER BY <best timestamp desc>)` and keep `rn = 1`.
  - Optionally exclude `order_status = 'canceled'` for KPI reporting.
- Add delivery metrics instead of dropping late orders:
  - `delivery_days` = days from purchase to delivery.
  - `is_late` flag where delivered > estimated.
  - `delivery_delay_days` = delivered − estimated.

Use this as `orders_clean` in all downstream joins.

---

## 2) `products`

**What’s wrong**

- **Duplicate natural key**
  - Expected: 1 row per `product_id`.
  - Found: some `product_id` values with multiple rows (6 extra rows total).

**Pragmatic cleaning**

- Create **`products_clean`**:
  - 1 row per `product_id` via `ROW_NUMBER() OVER (PARTITION BY product_id ORDER BY <completeness desc>)`.
  - Prefer rows with more non‑null attributes (weight, dimensions, description length, photos).
- Enforce uniqueness of `product_id` in this cleaned layer, keep raw table as landing.

---

## 3) `sellers`

**What’s wrong**

- **Duplicate natural key**
  - Expected: 1 row per `seller_id`.
  - Found: some `seller_id` values with multiple rows (5 extra rows total).

**Pragmatic cleaning**

- Create **`sellers_clean`**:
  - 1 row per `seller_id` using `ROW_NUMBER() OVER (PARTITION BY seller_id ORDER BY <location completeness desc>)`.
  - Prefer rows with non‑null `seller_zip_code_prefix`, `seller_city`, `seller_state`.

---

## 4) `customers`

**What’s wrong**

- **Test / fake IDs**
  - Found **3 customers** where `customer_id` contains `'test'` (e.g. `LOWER(customer_id) LIKE '%test%'`).
  - No obvious “test” cities.

**Pragmatic cleaning**

- Build **`customers_clean`**:
  - Exclude test customers: `WHERE LOWER(customer_id) NOT LIKE '%test%'`.
  - Optionally keep them in a separate `customers_test` table for QA.
- In analytics, always join against `customers_clean` instead of the raw table.

---

## What looks OK (for context)

- No duplicates for:
  - `order_items` on (`order_id`, `order_item_id`)
  - `order_payments` on (`order_id`, `payment_sequential`)
  - `order_reviews` on `review_id`
  - `customers` on `customer_id` (besides test IDs)
- Numeric ranges:
  - `price`, `freight_value`, `payment_value` are positive.
  - No negative/zero installments.
  - Product weights and dimensions are > 0.
  - `review_score` always in **[1, 5]**.
- Timestamps:
  - Within a reasonable range; no purchase/approval/delivery order inversions, only late vs ETA.

In practice, use `orders_clean`, `products_clean`, `sellers_clean`, and `customers_clean` as your **modeled layer**, and keep the raw tables as a staging/landing layer.

In [15]:
thread.ask(
    """
    give me sql to fix issues, mentioned above
    """
)

======== <THINKING> ========

**Developing SQL solutions**

The user wants SQL queries to address several issues like duplicates in orders, products, and sellers, as well as modeling around late deliveries. They are asking for solutions, likely involving DDL/CTAS or view creation to clean these dimensions. I need to keep it concise and clear. For instance, I’ll create a cleaned orders table that eliminates duplicates based on a deterministic rule, using row numbers with relevant timestamps. Additionally, there should be a cleaned products table that chooses the most complete rows based on specific characteristics.**Clarifying SQL requirements**

To simplify the deduplication of products, I should order by product description length, number of photos, weight, and then product ID for determinism. For cleaning sellers, I'll also deduplicate by seller ID, but I need to ensure stability in my ordering. I'll use row numbers to pick the first entry based on multiple columns to maintain determinism. Additionally, a view might be necessary to handle business logic, like orders delivered after the estimated date. The user wants SQL to address these issues.**Outlining SQL solutions**

I’m planning to show some SQL solutions that include creating a schema for curated models, but since the user didn’t mention this explicitly, I might just create views within `db1.main` with a `_clean` suffix. I’ll provide plain SQL blocks with a brief introduction. I’ll include three deduplication views and possibly an analytic view for deliveries. The late deliveries won’t be inconsistencies, but I can create an enriched orders view that adds delivery delay days while ensuring canceled orders are excluded.**Creating cleansed dimensions**

For these cleansed dimensions, I considered adding a filter for canceled orders, but it feels like that wouldn’t truly address duplicates. So, I’m choosing to keep all statuses. I’ll produce the SQL for creating a cleaned orders view. This view will rank orders using row numbers based on delivery dates and their status. I'll also calculate delivery days and flags for late deliveries, ensuring that any orders that haven’t been delivered show a null result for their delivery delay days. Let's get this done!**Producing SQL for products and sellers**

I’m working on the SQL for cleaning dimensions for products and sellers. For the `products_clean` view, I’ll rank each product based on the completeness of key attributes like description length and photo quantity. Similarly, for the `sellers_clean` view, I’ll rank sellers based on their zip code and location details. Since the user previously asked for tables with issues, I’ll focus on delivering these SQL statements with minimal explanations, making sure they have exactly what they need to resolve any issues.Here are example SQL snippets to “fix” the issues by creating **cleaned views** you can use downstream. They (1) deduplicate natural keys and (2) enrich orders with delay fields so late deliveries are handled explicitly rather than treated as data errors.

---

### 1) Clean `orders`: dedupe + delivery metrics

```sql
CREATE OR REPLACE VIEW db1.main.orders_clean AS
WITH ranked AS (
    SELECT
        o.*,
        ROW_NUMBER() OVER (
            PARTITION BY order_id
            ORDER BY
                -- Prefer the most recent, most complete record per order_id
                COALESCE(order_delivered_customer_date,
                         order_approved_at,
                         order_purchase_timestamp) DESC,
                order_estimated_delivery_date DESC
        ) AS rn
    FROM db1.main.orders o
)
SELECT
    order_id,
    customer_id,
    order_status,
    order_purchase_timestamp,
    order_approved_at,
    order_delivered_carrier_date,
    order_delivered_customer_date,
    order_estimated_delivery_date,

    -- Days from purchase to delivery
    CASE
        WHEN order_delivered_customer_date IS NOT NULL
        THEN DATEDIFF('day', order_purchase_timestamp, order_delivered_customer_date)
        ELSE NULL
    END AS delivery_days,

    -- Late flag: delivered after ETA
    CASE
        WHEN order_delivered_customer_date IS NOT NULL
         AND order_estimated_delivery_date IS NOT NULL
         AND order_delivered_customer_date > order_estimated_delivery_date
        THEN 1
        ELSE 0
    END AS is_late,

    -- Positive = days late, negative = days early
    CASE
        WHEN order_delivered_customer_date IS NOT NULL
         AND order_estimated_delivery_date IS NOT NULL
        THEN DATEDIFF('day', order_estimated_delivery_date, order_delivered_customer_date)
        ELSE NULL
    END AS delivery_delay_days
FROM ranked
WHERE rn = 1;
```

What this fixes:
- Removes duplicate `order_id` rows (keeps the “best”/latest version).
- Makes late deliveries explicit via `is_late` and `delivery_delay_days` instead of treating them as bad data.

---

### 2) Clean `products`: one row per `product_id`

```sql
CREATE OR REPLACE VIEW db1.main.products_clean AS
WITH ranked AS (
    SELECT
        p.*,
        ROW_NUMBER() OVER (
            PARTITION BY product_id
            ORDER BY
                -- Prefer rows with more non-null attributes
                (
                    (CASE WHEN product_description_lenght IS NOT NULL THEN 1 ELSE 0 END) +
                    (CASE WHEN product_photos_qty        IS NOT NULL THEN 1 ELSE 0 END) +
                    (CASE WHEN product_weight_g          IS NOT NULL THEN 1 ELSE 0 END) +
                    (CASE WHEN product_length_cm         IS NOT NULL THEN 1 ELSE 0 END) +
                    (CASE WHEN product_height_cm         IS NOT NULL THEN 1 ELSE 0 END) +
                    (CASE WHEN product_width_cm          IS NOT NULL THEN 1 ELSE 0 END)
                ) DESC,
                -- Tie-breakers: longer description / more photos
                product_description_lenght DESC NULLS LAST,
                product_photos_qty        DESC NULLS LAST
        ) AS rn
    FROM db1.main.products p
)
SELECT
    product_id,
    product_category_name,
    product_name_lenght,
    product_description_lenght,
    product_photos_qty,
    product_weight_g,
    product_length_cm,
    product_height_cm,
    product_width_cm
FROM ranked
WHERE rn = 1;
```

What this fixes:
- Ensures **exactly one row per `product_id`**, keeping the most informative record when duplicates exist.

---

### 3) Clean `sellers`: one row per `seller_id`

```sql
CREATE OR REPLACE VIEW db1.main.sellers_clean AS
WITH ranked AS (
    SELECT
        s.*,
        ROW_NUMBER() OVER (
            PARTITION BY seller_id
            ORDER BY
                -- Prefer rows with more complete location info
                (
                    (CASE WHEN seller_zip_code_prefix IS NOT NULL THEN 1 ELSE 0 END) +
                    (CASE WHEN seller_city            IS NOT NULL THEN 1 ELSE 0 END) +
                    (CASE WHEN seller_state           IS NOT NULL THEN 1 ELSE 0 END)
                ) DESC,
                -- Deterministic tie-breaker on attributes
                seller_zip_code_prefix,
                seller_city,
                seller_state
        ) AS rn
    FROM db1.main.sellers s
)
SELECT
    seller_id,
    seller_zip_code_prefix,
    seller_city,
    seller_state
FROM ranked
WHERE rn = 1;
```

What this fixes:
- Ensures **one row per `seller_id`**, choosing the row with the most complete address.

---

### How to use in downstream models

Once these views are created, update joins to use the cleaned versions:

```sql
FROM db1.main.orders_clean      o
LEFT JOIN db1.main.order_items  oi ON o.order_id  = oi.order_id
LEFT JOIN db1.main.products_clean p ON oi.product_id = p.product_id
LEFT JOIN db1.main.sellers_clean  s ON oi.seller_id  = s.seller_id
...
```

If you prefer physical tables instead of views, replace `CREATE OR REPLACE VIEW` with `CREATE TABLE ... AS SELECT ...`.
======== </THINKING> ========

Materialized Thread with 0 data rows.

## Step 3 — Integration

Question: Can we combine customers, sellers, payments, and reviews?
Action: Join entities into a consolidated dataset.
Outcome: Unified order-level table with spend, freight, category, seller location, and reviews.

In [16]:
thread.ask(
    """
    Build a unified order-level dataset from the cleaned tables with one row per order_id. Include at least:
    - order_id, order_purchase_timestamp, order_approved_at
    - customer_id, customer_city, customer_state
    - seller_id (dominant seller for the order if multiple), seller_city, seller_state
    - items_count, total_items_price, total_freight_value, total_payment_value
    - main_product_category_name (mode across items), review_score
    Name this output orders_unified (as a DuckDB temp table) and also return it as a DataFrame sample (head).
    """
)

======== <THINKING> ========

**Exploring DuckDB temp tables**

I’m trying to clarify the syntax for creating a temporary table in DuckDB: "CREATE TEMP TABLE orders_unified AS SELECT ...". The default schema is `temp.main`, and the tool environment refers to DataFrames being located there. For temp tables, it uses the `temp` schema without a specific name, like `temp.main.orders_unified`. I'll need to compute one row per `order_id`, using deduped `orders_clean`, and implement the ranking logic in a CTE. I'll also join to customers and determine the dominant `seller_id` based on item count or total price when there are multiple sellers.**Calculating aggregated metrics**

I need to compute aggregated metrics per order from the `order_items`. This includes counting distinct `order_item_id` for `items_count`, summing prices for `total_items_price`, and summing freight values for `total_freight_value`. I also want to find the `main_product_category_name` by determining the mode across items, considering the highest item count or total price using a window function. For `total_payment_value`, I’ll sum the `payment_value` from `order_payments`, and for `review_score`, I’ll take the MAX since there’s typically only 0 or 1 review per order. I should join to `products_category_name_translation` for English category names to enhance clarity, even though the user didn't specify.**Creating temp table and querying**

I need to create a temporary table called `orders_unified` using a common table expression (CTE). The syntax is `CREATE TEMP TABLE orders_unified AS WITH ... SELECT ...`, which DuckDB supports. After that, to get a preview, I'll execute `SELECT * FROM orders_unified ORDER BY order_purchase_timestamp LIMIT 10;`, or possibly order it in descending order. The user wants this as a DataFrame sample, so I’ll make multiple tool calls: one for creating the table, one for selecting the sample, and finally submitting the result. DuckDB will return a query ID, but the contents may remain empty. Let’s get the SQL designed!**Defining orders_clean CTE**

I’m defining the `orders_clean` common table expression (CTE). It selects all columns from the orders table but uses a ROW_NUMBER function to rank the rows based on when the order was delivered or approved. I’m specifically partitioning by `order_id` and ordering by delivery or purchase timestamps. Then, I’ll filter to keep only the first ranked row for each order. Additionally, for `products_clean`, I’ll keep the essential columns and specifically include `product_category_name`, since we don’t need all product information.**Building the orders_unified table**

I’m looking to deduplicate by `product_id` and `seller_id` using row numbers. For `items_enriched`, I'm counting items and summing prices and freight values from the `order_items` table. To find the dominant seller and main category, I need more complex CTEs.

For sellers, I’ll create a ranking based on items count and total price. This requires nesting queries since I can't reuse aggregates directly in DuckDB. Then, I’ll sum payments and aggregate reviews to join with customers, ensuring no duplication across the joins.

Also, I need to exclude canceled orders from the dataset. The output will be called `orders_unified`, and I’ll ensure to format it for a DataFrame sample, limiting results. I’ll implement this through the appropriate SQL commands carefully.

[tool_call: 'run_sql_query']
```
{"sql":"CREATE TEMP TABLE orders_unified AS\nWITH orders_clean AS (\n    SELECT *\n    FROM (\n        SELECT \n            o.*,\n            ROW_NUMBER() OVER (\n                PARTITION BY order_id\n                ORDER BY \n                    COALESCE(order_delivered_customer_date,\n                             order_approved_at,\n                             order_purchase_timestamp) DESC,\n                    order_estimated_delivery_date DESC\n            ) AS rn\n        FROM db1.main.orders o\n        WHERE o.order_status <> 'canceled'\n    ) t\n    WHERE rn = 1\n),\nproducts_clean AS (\n    SELECT *\n    FROM (\n        SELECT \n            p.*,\n            ROW_NUMBER() OVER (\n                PARTITION BY product_id\n                ORDER BY \n                    ((CASE WHEN product_description_lenght IS NOT NULL THEN 1 ELSE 0 END) +\n                     (CASE WHEN product_photos_qty        IS NOT NULL THEN 1 ELSE 0 END) +\n                     (CASE WHEN product_weight_g          IS NOT NULL THEN 1 ELSE 0 END) +\n                     (CASE WHEN product_length_cm         IS NOT NULL THEN 1 ELSE 0 END) +\n                     (CASE WHEN product_height_cm         IS NOT NULL THEN 1 ELSE 0 END) +\n                     (CASE WHEN product_width_cm          IS NOT NULL THEN 1 ELSE 0 END)) DESC,\n                    product_description_lenght DESC NULLS LAST,\n                    product_photos_qty        DESC NULLS LAST\n            ) AS rn\n        FROM db1.main.products p\n    ) t\n    WHERE rn = 1\n),\nsellers_clean AS (\n    SELECT *\n    FROM (\n        SELECT \n            s.*,\n            ROW_NUMBER() OVER (\n                PARTITION BY seller_id\n                ORDER BY \n                    ((CASE WHEN seller_zip_code_prefix IS NOT NULL THEN 1 ELSE 0 END) +\n                     (CASE WHEN seller_city            IS NOT NULL THEN 1 ELSE 0 END) +\n                     (CASE WHEN seller_state           IS NOT NULL THEN 1 ELSE 0 END)) DESC,\n                    seller_zip_code_prefix,\n                    seller_city,\n                    seller_state\n            ) AS rn\n        FROM db1.main.sellers s\n    ) t\n    WHERE rn = 1\n),\nitems_agg AS (\n    SELECT \n        oi.order_id,\n        COUNT(*) AS items_count,\n        SUM(oi.price) AS total_items_price,\n        SUM(oi.freight_value) AS total_freight_value\n    FROM db1.main.order_items oi\n    GROUP BY oi.order_id\n),\npayment_agg AS (\n    SELECT \n        op.order_id,\n        SUM(op.payment_value) AS total_payment_value\n    FROM db1.main.order_payments op\n    GROUP BY op.order_id\n),\nreview_agg AS (\n    SELECT \n        orv.order_id,\n        MAX(orv.review_score) AS review_score\n    FROM db1.main.order_reviews orv\n    GROUP BY orv.order_id\n),\norder_seller_agg AS (\n    SELECT \n        oi.order_id,\n        sc.seller_id,\n        sc.seller_city,\n        sc.seller_state,\n        COUNT(*) AS seller_items_count,\n        SUM(oi.price) AS seller_items_price\n    FROM db1.main.order_items oi\n    JOIN sellers_clean sc\n      ON oi.seller_id = sc.seller_id\n    GROUP BY \n        oi.order_id,\n        sc.seller_id,\n        sc.seller_city,\n        sc.seller_state\n),\norder_seller_rank AS (\n    SELECT \n        *,\n        ROW_NUMBER() OVER (\n            PARTITION BY order_id\n            ORDER BY seller_items_count DESC,\n                     seller_items_price DESC,\n                     seller_id\n        ) AS rn\n    FROM order_seller_agg\n),\nmain_seller AS (\n    SELECT \n        order_id,\n        seller_id,\n        seller_city,\n        seller_state\n    FROM order_seller_rank\n    WHERE rn = 1\n),\norder_cat_agg AS (\n    SELECT \n        oi.order_id,\n        COALESCE(tr.product_category_name_english, pc.product_category_name) AS main_product_category_name,\n        COUNT(*) AS category_items_count,\n        SUM(oi.price) AS category_items_price\n    FROM db1.main.order_items oi\n    JOIN products_clean pc\n      ON oi.product_id = pc.product_id\n    LEFT JOIN db1.main.product_category_name_translation tr\n      ON pc.product_category_name = tr.product_category_name\n    GROUP BY \n        oi.order_id,\n        COALESCE(tr.product_category_name_english, pc.product_category_name)\n),\norder_cat_rank AS (\n    SELECT \n        *,\n        ROW_NUMBER() OVER (\n            PARTITION BY order_id\n            ORDER BY category_items_count DESC,\n                     category_items_price DESC,\n                     main_product_category_name\n        ) AS rn\n    FROM order_cat_agg\n),\nmain_category AS (\n    SELECT \n        order_id,\n        main_product_category_name\n    FROM order_cat_rank\n    WHERE rn = 1\n)\nSELECT \n    o.order_id,\n    o.order_purchase_timestamp,\n    o.order_approved_at,\n    o.customer_id,\n    c.customer_city,\n    c.customer_state,\n    ms.seller_id,\n    ms.seller_city,\n    ms.seller_state,\n    ia.items_count,\n    ia.total_items_price,\n    ia.total_freight_value,\n    pa.total_payment_value,\n    mc.main_product_category_name,\n    ra.review_score\nFROM orders_clean o\nLEFT JOIN db1.main.customers c\n       ON o.customer_id = c.customer_id\nLEFT JOIN items_agg ia\n       ON o.order_id = ia.order_id\nLEFT JOIN payment_agg pa\n       ON o.order_id = pa.order_id\nLEFT JOIN review_agg ra\n       ON o.order_id = ra.order_id\nLEFT JOIN main_seller ms\n       ON o.order_id = ms.order_id\nLEFT JOIN main_category mc\n       ON o.order_id = mc.order_id;"}
```


```sql
CREATE TEMP TABLE orders_unified AS
WITH orders_clean AS (
    SELECT *
    FROM (
        SELECT
            o.*,
            ROW_NUMBER() OVER (
                PARTITION BY order_id
                ORDER BY
                    COALESCE(order_delivered_customer_date,
                             order_approved_at,
                             order_purchase_timestamp) DESC,
                    order_estimated_delivery_date DESC
            ) AS rn
        FROM db1.main.orders o
        WHERE o.order_status <> 'canceled'
    ) t
    WHERE rn = 1
),
products_clean AS (
    SELECT *
    FROM (
        SELECT
            p.*,
            ROW_NUMBER() OVER (
                PARTITION BY product_id
                ORDER BY
                    ((CASE WHEN product_description_lenght IS NOT NULL THEN 1 ELSE 0 END) +
                     (CASE WHEN product_photos_qty        IS NOT NULL THEN 1 ELSE 0 END) +
                     (CASE WHEN product_weight_g          IS NOT NULL THEN 1 ELSE 0 END) +
                     (CASE WHEN product_length_cm         IS NOT NULL THEN 1 ELSE 0 END) +
                     (CASE WHEN product_height_cm         IS NOT NULL THEN 1 ELSE 0 END) +
                     (CASE WHEN product_width_cm          IS NOT NULL THEN 1 ELSE 0 END)) DESC,
                    product_description_lenght DESC NULLS LAST,
                    product_photos_qty        DESC NULLS LAST
            ) AS rn
        FROM db1.main.products p
    ) t
    WHERE rn = 1
),
sellers_clean AS (
    SELECT *
    FROM (
        SELECT
            s.*,
            ROW_NUMBER() OVER (
                PARTITION BY seller_id
                ORDER BY
                    ((CASE WHEN seller_zip_code_prefix IS NOT NULL THEN 1 ELSE 0 END) +
                     (CASE WHEN seller_city            IS NOT NULL THEN 1 ELSE 0 END) +
                     (CASE WHEN seller_state           IS NOT NULL THEN 1 ELSE 0 END)) DESC,
                    seller_zip_code_prefix,
                    seller_city,
                    seller_state
            ) AS rn
        FROM db1.main.sellers s
    ) t
    WHERE rn = 1
),
items_agg AS (
    SELECT
        oi.order_id,
        COUNT(*) AS items_count,
        SUM(oi.price) AS total_items_price,
        SUM(oi.freight_value) AS total_freight_value
    FROM db1.main.order_items oi
    GROUP BY oi.order_id
),
payment_agg AS (
    SELECT
        op.order_id,
        SUM(op.payment_value) AS total_payment_value
    FROM db1.main.order_payments op
    GROUP BY op.order_id
),
review_agg AS (
    SELECT
        orv.order_id,
        MAX(orv.review_score) AS review_score
    FROM db1.main.order_reviews orv
    GROUP BY orv.order_id
),
order_seller_agg AS (
    SELECT
        oi.order_id,
        sc.seller_id,
        sc.seller_city,
        sc.seller_state,
        COUNT(*) AS seller_items_count,
        SUM(oi.price) AS seller_items_price
    FROM db1.main.order_items oi
    JOIN sellers_clean sc
      ON oi.seller_id = sc.seller_id
    GROUP BY
        oi.order_id,
        sc.seller_id,
        sc.seller_city,
        sc.seller_state
),
order_seller_rank AS (
    SELECT
        *,
        ROW_NUMBER() OVER (
            PARTITION BY order_id
            ORDER BY seller_items_count DESC,
                     seller_items_price DESC,
                     seller_id
        ) AS rn
    FROM order_seller_agg
),
main_seller AS (
    SELECT
        order_id,
        seller_id,
        seller_city,
        seller_state
    FROM order_seller_rank
    WHERE rn = 1
),
order_cat_agg AS (
    SELECT
        oi.order_id,
        COALESCE(tr.product_category_name_english, pc.product_category_name) AS main_product_category_name,
        COUNT(*) AS category_items_count,
        SUM(oi.price) AS category_items_price
    FROM db1.main.order_items oi
    JOIN products_clean pc
      ON oi.product_id = pc.product_id
    LEFT JOIN db1.main.product_category_name_translation tr
      ON pc.product_category_name = tr.product_category_name
    GROUP BY
        oi.order_id,
        COALESCE(tr.product_category_name_english, pc.product_category_name)
),
order_cat_rank AS (
    SELECT
        *,
        ROW_NUMBER() OVER (
            PARTITION BY order_id
            ORDER BY category_items_count DESC,
                     category_items_price DESC,
                     main_product_category_name
        ) AS rn
    FROM order_cat_agg
),
main_category AS (
    SELECT
        order_id,
        main_product_category_name
    FROM order_cat_rank
    WHERE rn = 1
)
SELECT
    o.order_id,
    o.order_purchase_timestamp,
    o.order_approved_at,
    o.customer_id,
    c.customer_city,
    c.customer_state,
    ms.seller_id,
    ms.seller_city,
    ms.seller_state,
    ia.items_count,
    ia.total_items_price,
    ia.total_freight_value,
    pa.total_payment_value,
    mc.main_product_category_name,
    ra.review_score
FROM orders_clean o
LEFT JOIN db1.main.customers c
       ON o.customer_id = c.customer_id
LEFT JOIN items_agg ia
       ON o.order_id = ia.order_id
LEFT JOIN payment_agg pa
       ON o.order_id = pa.order_id
LEFT JOIN review_agg ra
       ON o.order_id = ra.order_id
LEFT JOIN main_seller ms
       ON o.order_id = ms.order_id
LEFT JOIN main_category mc
       ON o.order_id = mc.order_id;
```


[tool_call_output: 'run_sql_query']
```
query_id='30-0'
```

[df: name=df, showing 0 / 0 rows]




[tool_call: 'run_sql_query']
```
{"sql": "SELECT * FROM orders_unified ORDER BY order_purchase_timestamp LIMIT 10;"}
```


```sql
SELECT * FROM orders_unified ORDER BY order_purchase_timestamp LIMIT 10;
```


[tool_call_output: 'run_sql_query']
```
query_id='32-0'

order_id,order_purchase_timestamp,order_approved_at,customer_id,customer_city,customer_state,seller_id,seller_city,seller_state,items_count,total_items_price,total_freight_value,total_payment_value,main_product_category_name,review_score
ord_0253,2025-06-02 02:03:00,2025-06-02 04:23:00,cust_0053,arnhem,GE,sell_0024,utrecht,UT,1,196.38,39.92,201.93,Pets,
ord_0059,2025-06-02 04:02:00,2025-06-02 05:48:00,cust_0059,roermond,LI,sell_0007,vlissingen,ZL,4,1235.63,156.46,1392.09,"Bed, Bath & Table",
ord_0119,2025-06-02 04:31:00,2025-06-02 04:48:00,cust_0119,groningen,GR,sell_0018,rotterdam,ZH,4,2876.7,171.68,3048.38,Furniture & Decor,
ord_0098,2025-06-02 05:08:00,2025-06-02 05:37:00,cust_0098,rotterdam,ZH,sell_0035,zaandam,NH,3,878.88,99.33,915.79,Watches & Gifts,
ord_0306,2025-06-02 09:06:00,2025-06-02 10:04:00,cust_0106,kampen,OV,sell_0045,drachten,FR,1,120.3,56.8,140.26,Sports & Leisure,2
ord_0305,2025-06-02 09:12:00,2025-06-02 11:41:00,cust_0105,drachten,FR,sell_0006,zwolle,OV,4,1579.57,185.9,1633.11,Computers,2
ord_0427,2025-06-02 11:26:00,2025-06-02 12:33:00,cust_0027,leeuwarden,FR,sell_0002,maastricht,LI,1,143.19,40.28,183.47,Office Supplies,4
ord_0254,2025-06-02 15:55:00,2025-06-02 16:15:00,cust_0054,drachten,FR,sell_0016,dronten,FL,8,3647.69,278.62,3780.19,Beauty & Health,
ord_0384,2025-06-02 16:00:00,2025-06-02 18:37:00,cust_0184,rotterdam,ZH,sell_0029,heerlen,LI,5,1171.57,167.3,1226.18,Car,
ord_0507,2025-06-03 05:56:00,2025-06-03 06:39:00,cust_0107,zoetermeer,ZH,sell_0045,drachten,FR,1,85.51,20.52,90.67,Fashion & Shoes,
```

[df: name=df, showing 10 / 10 rows]
| order_id   | order_purchase_timestamp   | order_approved_at   | customer_id   | customer_city   | customer_state   | seller_id   | seller_city   | seller_state   |   items_count |   total_items_price |   total_freight_value |   total_payment_value | main_product_category_name   | review_score   |
|:-----------|:---------------------------|:--------------------|:--------------|:----------------|:-----------------|:------------|:--------------|:---------------|--------------:|--------------------:|----------------------:|----------------------:|:-----------------------------|:---------------|
| ord_0253   | 2025-06-02 02:03:00        | 2025-06-02 04:23:00 | cust_0053     | arnhem          | GE               | sell_0024   | utrecht       | UT             |             1 |              196.38 |                 39.92 |                201.93 | Pets                         | <NA>           |
| ord_0059   | 2025-06-02 04:02:00        | 2025-06-02 05:48:00 | cust_0059     | roermond        | LI               | sell_0007   | vlissingen    | ZL             |             4 |             1235.63 |                156.46 |               1392.09 | Bed, Bath & Table            | <NA>           |
| ord_0119   | 2025-06-02 04:31:00        | 2025-06-02 04:48:00 | cust_0119     | groningen       | GR               | sell_0018   | rotterdam     | ZH             |             4 |             2876.7  |                171.68 |               3048.38 | Furniture & Decor            | <NA>           |
| ord_0098   | 2025-06-02 05:08:00        | 2025-06-02 05:37:00 | cust_0098     | rotterdam       | ZH               | sell_0035   | zaandam       | NH             |             3 |              878.88 |                 99.33 |                915.79 | Watches & Gifts              | <NA>           |
| ord_0306   | 2025-06-02 09:06:00        | 2025-06-02 10:04:00 | cust_0106     | kampen          | OV               | sell_0045   | drachten      | FR             |             1 |              120.3  |                 56.8  |                140.26 | Sports & Leisure             | 2              |
| ord_0305   | 2025-06-02 09:12:00        | 2025-06-02 11:41:00 | cust_0105     | drachten        | FR               | sell_0006   | zwolle        | OV             |             4 |             1579.57 |                185.9  |               1633.11 | Computers                    | 2              |
| ord_0427   | 2025-06-02 11:26:00        | 2025-06-02 12:33:00 | cust_0027     | leeuwarden      | FR               | sell_0002   | maastricht    | LI             |             1 |              143.19 |                 40.28 |                183.47 | Office Supplies              | 4              |
| ord_0254   | 2025-06-02 15:55:00        | 2025-06-02 16:15:00 | cust_0054     | drachten        | FR               | sell_0016   | dronten       | FL             |             8 |             3647.69 |                278.62 |               3780.19 | Beauty & Health              | <NA>           |
| ord_0384   | 2025-06-02 16:00:00        | 2025-06-02 18:37:00 | cust_0184     | rotterdam       | ZH               | sell_0029   | heerlen       | LI             |             5 |             1171.57 |                167.3  |               1226.18 | Car                          | <NA>           |
| ord_0507   | 2025-06-03 05:56:00        | 2025-06-03 06:39:00 | cust_0107     | zoetermeer      | ZH               | sell_0045   | drachten      | FR             |             1 |               85.51 |                 20.52 |                 90.67 | Fashion & Shoes              | <NA>           |



[tool_call: 'submit_result']
```

Materialized Thread with 10 data rows.

In [17]:
orders_unified = thread.df()
orders_unified

,order_id,order_purchase_timestamp,order_approved_at,customer_id,customer_city,customer_state,seller_id,seller_city,seller_state,items_count,total_items_price,total_freight_value,total_payment_value,main_product_category_name,review_score
0,ord_0253,2025-06-02 02:03:00,2025-06-02 04:23:00,cust_0053,arnhem,GE,sell_0024,utrecht,UT,1,196.38,39.92,201.93,Pets,<NA>
1,ord_0059,2025-06-02 04:02:00,2025-06-02 05:48:00,cust_0059,roermond,LI,sell_0007,vlissingen,ZL,4,1235.63,156.46,1392.09,"Bed, Bath & Table",<NA>
2,ord_0119,2025-06-02 04:31:00,2025-06-02 04:48:00,cust_0119,groningen,GR,sell_0018,rotterdam,ZH,4,2876.70,171.68,3048.38,Furniture & Decor,<NA>
3,ord_0098,2025-06-02 05:08:00,2025-06-02 05:37:00,cust_0098,rotterdam,ZH,sell_0035,zaandam,NH,3,878.88,99.33,915.79,Watches & Gifts,<NA>
4,ord_0306,2025-06-02 09:06:00,2025-06-02 10:04:00,cust_0106,kampen,OV,sell_0045,drachten,FR,1,120.30,56.80,140.26,Sports & Leisure,2
5,ord_0305,2025-06-02 09:12:00,2025-06-02 11:41:00,cust_0105,drachten,FR,sell_0006,zwolle,OV,4,1579.57,185.90,1633.11,Computers,2
6,ord_0427,2025-06-02 11:26:00,2025-06-02 12:33:00,cust_0027,leeuwarden,FR,sell_0002,maastricht,LI,1,143.19,40.28,183.47,Office Supplies,4
7,ord_0254,2025-06-02 15:55:00,2025-06-02 16:15:00,cust_0054,drachten,FR,sell_0016,dronten,FL,8,3647.69,278.62,3780.19,Beauty & Health,<NA>
8,ord_0384,2025-06-02 16:00:00,2025-06-02 18:37:00,cust_0184,rotterdam,ZH,sell_0029,heerlen,LI,5,1171.57,167.30,1226.18,Car,<NA>
9,ord_0507,2025-06-03 05:56:00,2025-06-03 06:39:00,cust_0107,zoetermeer,ZH,sell_0045,drachten,FR,1,85.51,20.52,90.67,Fashion & Shoes,<NA>

## Step 4 — Feature engineering

Question: Which KPIs help analyze performance?
Action: Compute total_price, freight, delivery_days, delay_days, review_score.
Outcome: Metrics such as average delivery time, review score, and order value.

In [18]:
thread.ask(
    """
    From orders_unified, compute a feature-rich table orders_features with per-order KPI: come up with most important metrics, expain why you chose it
    """
)

======== <THINKING> ========

**Computing KPIs for orders**

The user wants me to create a feature-rich table called orders_features based on the orders_unified temp table. I’ll need to come up with the most important metrics and explain my choices. I’ll likely use functions.run_sql_query to create this table.

Considering the columns in orders_unified, we can derive metrics like delivery days and lateness, even though delivery fields are missing in the original table. Joining the orders table could help, but I'll aim to keep things simple by primarily using orders_unified plus original orders for useful KPIs like payment-to-item ratio and freight share.**Defining orders_features**

The temp orders_unified doesn't have delivery timestamps since those were removed, but the base orders table does. I could define orders_features using a SELECT statement with joins to db1.main.orders. It seems like creating a CTE called orders_clean could help in computing key metrics.

For metrics like gross revenue, items count, average item price, freight share percentage, and discount rate, I can derive them effectively. However, I can't compute margin per order without the cost. I'll also consider delivery metrics and binary features like has_review and high_value_flag according to the user's needs for core KPIs.**Creating orders_features table**

I'm planning to create the columns for the orders_features table, which will include several key metrics such as order_id, order_date, customer_id, seller_id, items_count, and others. I want to include calculations like order_gmv, payment_gap, discount_percentage, freight share percentage, and average item price.

I’ll also add fields for review scores and delivery days. It’s essential to create this TEMP TABLE using DuckDB syntax. Since orders_unified already has one row per order, I can reuse the same CTE for deduplication and derive necessary delivery metrics from the orders table.**Defining the orders_clean CTE**

I’m going to create the CTE orders_clean, focusing on non-canceled orders that match the IDs in orders_unified. Since orders_unified was built from non-canceled orders and already deduped, I can simply join on order_id, which should automatically filter out canceled ones.

I'll define it with the necessary deduplication and then perform the final SELECT that joins orders_unified with orders_clean to compute features. Remembering DuckDB's use of DATEDIFF for date calculations, I’ll also apply null-handling with NULLIF when computing percentages for discount and freight share.**Creating and submitting orders_features**

I'm going to implement a TEMP TABLE called orders_features using a common table expression (CTE) for orders_clean. This involves selecting non-canceled orders while ensuring deduplication with ROW_NUMBER. Then, I'll create another CTE, base, to gather relevant data from orders_unified and calculate key metrics like delivery days, average item price, freight share, payment gap, discount percentage, and review flags.

After that, I'll submit the final table using run_sql_query, followed by selecting the head of the results. Finally, I'll use submit_result to return the DataFrame with a succinct explanation of the chosen KPIs in the result_description.

[tool_call: 'run_sql_query']
```
{"sql": "CREATE TEMP TABLE orders_features AS\nWITH orders_clean AS (\n    SELECT *\n    FROM (\n        SELECT \n            o.*,\n            ROW_NUMBER() OVER (\n                PARTITION BY order_id\n                ORDER BY \n                    COALESCE(order_delivered_customer_date,\n                             order_approved_at,\n                             order_purchase_timestamp) DESC,\n                    order_estimated_delivery_date DESC\n            ) AS rn\n        FROM db1.main.orders o\n        WHERE o.order_status <> 'canceled'\n    ) t\n    WHERE rn = 1\n),\nbase AS (\n    SELECT\n        u.order_id,\n        u.order_purchase_timestamp,\n        CAST(u.order_purchase_timestamp AS DATE) AS order_purchase_date,\n        u.order_approved_at,\n        u.customer_id,\n        u.customer_city,\n        u.customer_state,\n        u.seller_id,\n        u.seller_city,\n        u.seller_state,\n        u.items_count,\n        u.total_items_price,\n        u.total_freight_value,\n        u.total_payment_value,\n        u.main_product_category_name,\n        u.review_score,\n        oc.order_delivered_customer_date,\n        oc.order_estimated_delivery_date,\n        CASE\n            WHEN oc.order_delivered_customer_date IS NOT NULL\n            THEN DATEDIFF('day', u.order_purchase_timestamp, oc.order_delivered_customer_date)\n            ELSE NULL\n        END AS delivery_days,\n        CASE\n            WHEN oc.order_delivered_customer_date IS NOT NULL\n             AND oc.order_estimated_delivery_date IS NOT NULL\n             AND oc.order_delivered_customer_date > oc.order_estimated_delivery_date\n            THEN 1 ELSE 0\n        END AS is_late,\n        CASE\n            WHEN oc.order_delivered_customer_date IS NOT NULL\n             AND oc.order_estimated_delivery_date IS NOT NULL\n            THEN DATEDIFF('day', oc.order_estimated_delivery_date, oc.order_delivered_customer_date)\n            ELSE NULL\n        END AS delivery_delay_days\n    FROM orders_unified u\n    LEFT JOIN orders_clean oc\n           ON u.order_id = oc.order_id\n),\nenriched AS (\n    SELECT\n        *,\n        -- Gross merchandise value (items + freight)\n        COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0) AS order_gmv,\n        -- Basket composition\n        CASE WHEN items_count > 0 THEN total_items_price / items_count ELSE NULL END AS avg_item_price,\n        CASE\n            WHEN COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0) > 0\n            THEN 100 * COALESCE(total_freight_value, 0) /\n                 (COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0))\n            ELSE NULL\n        END AS freight_share_pct,\n        -- Price vs payment (discounts / vouchers / extra charges)\n        CASE\n            WHEN total_payment_value IS NOT NULL\n            THEN total_payment_value - (COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0))\n            ELSE NULL\n        END AS payment_gap,\n        CASE\n            WHEN total_payment_value IS NOT NULL\n             AND (COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0)) > 0\n             AND total_payment_value < (COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0))\n            THEN 100 * ((COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0)) - total_payment_value)\n                    / (COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0))\n            ELSE NULL\n        END AS discount_pct,\n        -- Review / satisfaction proxies\n        CASE WHEN review_score IS NOT NULL THEN 1 ELSE 0 END AS has_review,\n        CASE WHEN review_score >= 4 THEN 1 ELSE 0 END AS is_positive_review,\n        CASE WHEN review_score <= 2 THEN 1 ELSE 0 END AS is_negative_review,\n        -- High-value order flag (simple business threshold)\n        CASE WHEN total_payment_value >= 500 THEN 1 ELSE 0 END AS is_high_value_order\n    FROM base\n)\nSELECT *\nFROM enriched;"}
```


```sql
CREATE TEMP TABLE orders_features AS
WITH orders_clean AS (
    SELECT *
    FROM (
        SELECT
            o.*,
            ROW_NUMBER() OVER (
                PARTITION BY order_id
                ORDER BY
                    COALESCE(order_delivered_customer_date,
                             order_approved_at,
                             order_purchase_timestamp) DESC,
                    order_estimated_delivery_date DESC
            ) AS rn
        FROM db1.main.orders o
        WHERE o.order_status <> 'canceled'
    ) t
    WHERE rn = 1
),
base AS (
    SELECT
        u.order_id,
        u.order_purchase_timestamp,
        CAST(u.order_purchase_timestamp AS DATE) AS order_purchase_date,
        u.order_approved_at,
        u.customer_id,
        u.customer_city,
        u.customer_state,
        u.seller_id,
        u.seller_city,
        u.seller_state,
        u.items_count,
        u.total_items_price,
        u.total_freight_value,
        u.total_payment_value,
        u.main_product_category_name,
        u.review_score,
        oc.order_delivered_customer_date,
        oc.order_estimated_delivery_date,
        CASE
            WHEN oc.order_delivered_customer_date IS NOT NULL
            THEN DATEDIFF('day', u.order_purchase_timestamp, oc.order_delivered_customer_date)
            ELSE NULL
        END AS delivery_days,
        CASE
            WHEN oc.order_delivered_customer_date IS NOT NULL
             AND oc.order_estimated_delivery_date IS NOT NULL
             AND oc.order_delivered_customer_date > oc.order_estimated_delivery_date
            THEN 1 ELSE 0
        END AS is_late,
        CASE
            WHEN oc.order_delivered_customer_date IS NOT NULL
             AND oc.order_estimated_delivery_date IS NOT NULL
            THEN DATEDIFF('day', oc.order_estimated_delivery_date, oc.order_delivered_customer_date)
            ELSE NULL
        END AS delivery_delay_days
    FROM orders_unified u
    LEFT JOIN orders_clean oc
           ON u.order_id = oc.order_id
),
enriched AS (
    SELECT
        *,
        -- Gross merchandise value (items + freight)
        COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0) AS order_gmv,
        -- Basket composition
        CASE WHEN items_count > 0 THEN total_items_price / items_count ELSE NULL END AS avg_item_price,
        CASE
            WHEN COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0) > 0
            THEN 100 * COALESCE(total_freight_value, 0) /
                 (COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0))
            ELSE NULL
        END AS freight_share_pct,
        -- Price vs payment (discounts / vouchers / extra charges)
        CASE
            WHEN total_payment_value IS NOT NULL
            THEN total_payment_value - (COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0))
            ELSE NULL
        END AS payment_gap,
        CASE
            WHEN total_payment_value IS NOT NULL
             AND (COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0)) > 0
             AND total_payment_value < (COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0))
            THEN 100 * ((COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0)) - total_payment_value)
                    / (COALESCE(total_items_price, 0) + COALESCE(total_freight_value, 0))
            ELSE NULL
        END AS discount_pct,
        -- Review / satisfaction proxies
        CASE WHEN review_score IS NOT NULL THEN 1 ELSE 0 END AS has_review,
        CASE WHEN review_score >= 4 THEN 1 ELSE 0 END AS is_positive_review,
        CASE WHEN review_score <= 2 THEN 1 ELSE 0 END AS is_negative_review,
        -- High-value order flag (simple business threshold)
        CASE WHEN total_payment_value >= 500 THEN 1 ELSE 0 END AS is_high_value_order
    FROM base
)
SELECT *
FROM enriched;
```


[tool_call_output: 'run_sql_query']
```
query_id='37-0'
```

[df: name=df, showing 0 / 0 rows]




[tool_call: 'run_sql_query']
```
{"sql": "SELECT * FROM orders_features ORDER BY order_purchase_timestamp LIMIT 10;"}
```


```sql
SELECT * FROM orders_features ORDER BY order_purchase_timestamp LIMIT 10;
```


[tool_call_output: 'run_sql_query']
```
query_id='39-0'

order_id,order_purchase_timestamp,order_purchase_date,order_approved_at,customer_id,customer_city,customer_state,seller_id,seller_city,seller_state,items_count,total_items_price,total_freight_value,total_payment_value,main_product_category_name,review_score,order_delivered_customer_date,order_estimated_delivery_date,delivery_days,is_late,delivery_delay_days,order_gmv,avg_item_price,freight_share_pct,payment_gap,discount_pct,has_review,is_positive_review,is_negative_review,is_high_value_order
ord_0253,2025-06-02 02:03:00,2025-06-02,2025-06-02 04:23:00,cust_0053,arnhem,GE,sell_0024,utrecht,UT,1,196.38,39.92,201.93,Pets,,2025-06-15 17:03:00,2025-06-14 02:03:00,13,1,1,236.3,196.38,16.89377909437156,-34.37,14.545069826491748,0,0,0,0
ord_0059,2025-06-02 04:02:00,2025-06-02,2025-06-02 05:48:00,cust_0059,roermond,LI,sell_0007,vlissingen,ZL,4,1235.63,156.46,1392.09,"Bed, Bath & Table",,2025-06-12 22:02:00,2025-06-18 04:02:00,10,0,-6,1392.09,308.9075,11.239215855296713,0.0,,0,0,0,1
ord_0119,2025-06-02 04:31:00,2025-06-02,2025-06-02 04:48:00,cust_0119,groningen,GR,sell_0018,rotterdam,ZH,4,2876.7,171.68,3048.38,Furniture & Decor,,,2025-06-21 04:31:00,,0,,3048.38,719.175,5.6318437990014365,0.0,,0,0,0,1
ord_0098,2025-06-02 05:08:00,2025-06-02,2025-06-02 05:37:00,cust_0098,rotterdam,ZH,sell_0035,zaandam,NH,3,878.88,99.33,915.79,Watches & Gifts,,2025-06-15 15:08:00,2025-06-07 05:08:00,13,1,8,978.21,292.96,10.154261354923788,-62.42,6.381042925343229,0,0,0,1
ord_0306,2025-06-02 09:06:00,2025-06-02,2025-06-02 10:04:00,cust_0106,kampen,OV,sell_0045,drachten,FR,1,120.3,56.8,140.26,Sports & Leisure,2,2025-06-14 05:06:00,2025-06-10 09:06:00,12,1,4,177.1,120.3,32.07227555053642,-36.84,20.801806888763412,1,0,1,0
ord_0305,2025-06-02 09:12:00,2025-06-02,2025-06-02 11:41:00,cust_0105,drachten,FR,sell_0006,zwolle,OV,4,1579.57,185.9,1633.11,Computers,2,2025-06-14 06:12:00,2025-06-07 09:12:00,12,1,7,1765.47,394.8925,10.529773941216787,-132.36,7.497153732433856,1,0,1,1
ord_0427,2025-06-02 11:26:00,2025-06-02,2025-06-02 12:33:00,cust_0027,leeuwarden,FR,sell_0002,maastricht,LI,1,143.19,40.28,183.47,Office Supplies,4,2025-06-12 23:26:00,2025-06-12 11:26:00,10,1,0,183.47,143.19,21.95454297705347,0.0,,1,1,0,0
ord_0254,2025-06-02 15:55:00,2025-06-02,2025-06-02 16:15:00,cust_0054,drachten,FR,sell_0016,dronten,FL,8,3647.69,278.62,3780.19,Beauty & Health,,2025-06-13 18:55:00,2025-06-18 15:55:00,11,0,-5,3926.31,455.96125,7.096230302752457,-146.12,3.721560447341142,0,0,0,1
ord_0384,2025-06-02 16:00:00,2025-06-02,2025-06-02 18:37:00,cust_0184,rotterdam,ZH,sell_0029,heerlen,LI,5,1171.57,167.3,1226.18,Car,,2025-06-13 21:00:00,2025-06-14 16:00:00,11,0,-1,1338.87,234.314,12.495611971289222,-112.69,8.416799241151121,0,0,0,1
ord_0507,2025-06-03 05:56:00,2025-06-03,2025-06-03 06:39:00,cust_0107,zoetermeer,ZH,sell_0045,drachten,FR,1,85.51,20.52,90.67,Fashion & Shoes,,,2025-06-07 05:56:00,,0,,106.03,85.51,19.353013298123173,-15.36,14.486466094501557,0,0,0,0
```

[df: name=df, showing 10 / 10 rows]
| order_id   | order_purchase_timestamp   | order_purchase_date   | order_approved_at   | customer_id   | customer_city   | customer_state   | seller_id   | seller_city   | seller_state   |   items_count |   total_items_price |   total_freight_value |   total_payment_value | main_product_category_name   | review_score   | order_delivered_customer_date   | order_estimated_delivery_date   | delivery_days   |   is_late | delivery_delay_days   |   order_gmv |   avg_item_price |   freight_share_pct |   payment_gap |   discount_pct |   has_review |   is_positive_review |   is_negative_review |   is_high_value_order |
|:-----------|:---------------------------|:----------------------|:--------------------|:--------------|:----------------|:-----------------|:------------|:--------------|:---------------|--------------:|--------------------:|----------------------:|----------------------:|:-----------------------------|:---------------|:--------------------------------|:--------------------------------|:----------------|----------:|:----------------------|------------:|-----------------:|--------------------:|--------------:|---------------:|-------------:|---------------------:|---------------------:|----------------------:|
| ord_0253   | 2025-06-02 02:03:00        | 2025-06-02 00:00:00   | 2025-06-02 04:23:00 | cust_0053     | arnhem          | GE               | sell_0024   | utrecht       | UT             |             1 |              196.38 |                 39.92 |                201.93 | Pets                         | <NA>           | 2025-06-15 17:03:00             | 2025-06-14 02:03:00             | 13              |         1 | 1                     |      236.3  |          196.38  |            16.8938  |        -34.37 |       14.5451  |            0 |                    0 |                    0 |                     0 |
| ord_0059   | 2025-06-02 04:02:00        | 2025-06-02 00:00:00   | 2025-06-02 05:48:00 | cust_0059     | roermond        | LI               | sell_0007   | vlissingen    | ZL             |             4 |             1235.63 |                156.46 |               1392.09 | Bed, Bath & Table            | <NA>           | 2025-06-12 22:02:00             | 2025-06-18 04:02:00             | 10              |         0 | -6                    |     1392.09 |          308.908 |            11.2392  |          0    |      nan       |            0 |                    0 |                    0 |                     1 |
| ord_0119   | 2025-06-02 04:31:00        | 2025-06-02 00:00:00   | 2025-06-02 04:48:00 | cust_0119     | groningen       | GR               | sell_0018   | rotterdam     | ZH             |             4 |             2876.7  |                171.68 |               3048.38 | Furniture & Decor            | <NA>           | NaT                             | 2025-06-21 04:31:00             | <NA>            |         0 | <NA>                  |     3048.38 |          719.175 |             5.63184 |          0    |      nan       |            0 |                    0 |                    0 |                     1 |
| ord_0098   | 2025-06-02 05:08:00        | 2025-06-02 00:00:00   | 2025-06-02 05:37:00 | cust_0098     | rotterdam       | ZH               | sell_0035   | zaandam       | NH             |             3 |              878.88 |                 99.33 |                915.79 | Watches & Gifts              | <NA>           | 2025-06-15 15:08:00             | 2025-06-07 05:08:00             | 13              |         1 | 8                     |      978.21 |          292.96  |            10.1543  |        -62.42 |        6.38104 |            0 |                    0 |                    0 |                     1 |
| ord_0306   | 2025-06-02 09:06:00        | 2025-06-02 00:00:00   | 2025-06-02 10:04:00 | cust_0106     | kampen          | OV               | sell_0045   | drachten      | FR             |             1 |              120.3  |                 56.8  |                140.26 | Sports & Leisure             | 2              | 2025-06-14 05:06:00             | 2025-06-10 09:06:00             | 12              |         1 | 4                     |      177.1  |          120.3   |            32.0723  |        -36.84 |       20.8018  |            1 |                    0 |                    1 |                     0 |
| ord_0305   | 2025-06-02 09:12:00        | 2025-06-02 00:00:00   | 2025-06-02 11:41:00 | cust_0105     | drachten        | FR               | sell_0006   | zwolle        | OV             |             4 |             1579.57 |                185.9  |               1633.11 | Computers                    | 2              | 2025-06-14 06:12:00             | 2025-06-07 09:12:00             | 12              |         1 | 7                     |     1765.47 |          394.892 |            10.5298  |       -132.36 |        7.49715 |            1 |                    0 |                    1 |                     1 |

Materialized Thread with 10 data rows.

In [19]:
display(Markdown(thread.text()))

Here’s what I’ve built in `orders_features` (DuckDB temp table) and *why* these KPIs are there. The table is already created; you can inspect it with:

```sql
SELECT * FROM orders_features LIMIT 10;
```

### Core grouping

- **Grain:** 1 row per `order_id` (taken from `orders_unified`, excluding canceled via `orders_clean` join).
- **Keys / context (for slicing):**
  - `order_id`, `order_purchase_timestamp`, `order_purchase_date`
  - `customer_id`, `customer_city`, `customer_state`
  - `seller_id`, `seller_city`, `seller_state`
  - `main_product_category_name`, `review_score`

These let you slice all KPIs by time, geography, seller, and category.

---

### Commercial KPIs

1. **Order GMV and components**
   - `items_count`
   - `total_items_price`
   - `total_freight_value`
   - `total_payment_value`
   - `order_gmv = total_items_price + total_freight_value`
   - **Why:** This is your basic revenue lens per order: how many items, pure merchandise vs shipping, and what the customer actually paid.

2. **Basket composition & pricing**
   - `avg_item_price = total_items_price / items_count`
   - `freight_share_pct = 100 * total_freight_value / (total_items_price + total_freight_value)`
   - **Why:**
     - `avg_item_price` indicates whether it’s a low- or high-ticket basket.
     - `freight_share_pct` shows how “expensive” delivery feels vs goods, a key driver of conversion and perceived fairness.

3. **Price vs payment (discounts / vouchers / extra charges)**
   - `payment_gap = total_payment_value - (total_items_price + total_freight_value)`
   - `discount_pct` (only if `total_payment_value` < (items + freight)):
     `100 * ((items + freight) - total_payment_value) / (items + freight)`
   - **Why:**
     - Captures coupons, discounts, rounding or surcharges.
     - `discount_pct` is a clean, comparable metric across orders to analyze promo efficiency and margin pressure.

4. **High-value order indicator**
   - `is_high_value_order = 1` if `total_payment_value >= 500` (else 0)
   - **Why:** Lets you quickly focus on orders that are most impactful financially (fraud checks, VIP flows, support priority, etc.). Threshold is business-tunable.

---

### Operational / logistics KPIs

5. **Delivery performance**
   - `order_delivered_customer_date`
   - `order_estimated_delivery_date`
   - `delivery_days = days from purchase to delivery`
   - `is_late = 1 if delivered > estimated, else 0`
   - `delivery_delay_days = delivered - estimated (positive = late, negative = early)`
   - **Why:** These are the essential building blocks for:
     - SLA compliance (% on-time)
     - Average delivery time
     - Impact of late deliveries on reviews and repeat behavior.

---

### Customer experience KPIs

6. **Review / satisfaction flags**
   - `has_review = 1 if review_score not null`
   - `is_positive_review = 1 if review_score >= 4`
   - `is_negative_review = 1 if review_score <= 2`
   - **Why:** Quick segmentation into:
     - Orders with feedback coverage (`has_review`)
     - Promoters vs detractors (high‑ vs low‑score buckets)
   - These make it easy to relate service metrics (e.g., `is_late`, `delivery_days`, `freight_share_pct`) to customer satisfaction.

---

### Recap: what `orders_features` gives you

Per non‑canceled order, you now have:

- Commercial: **GMV, discounting, basket size & structure**
- Operational: **delivery speed and SLA adherence**
- Experience: **review presence and sentiment flags**
- Context: **time, location, seller, category**

That’s a compact but expressive feature set for reporting, cohorting, or feeding into ML models (churn, CLV, NPS prediction, etc.).

In [20]:
orders_features = thread.df()
orders_features

,order_id,order_purchase_timestamp,order_purchase_date,order_approved_at,customer_id,customer_city,customer_state,seller_id,seller_city,seller_state,...,delivery_delay_days,order_gmv,avg_item_price,freight_share_pct,payment_gap,discount_pct,has_review,is_positive_review,is_negative_review,is_high_value_order
0,ord_0253,2025-06-02 02:03:00,2025-06-02,2025-06-02 04:23:00,cust_0053,arnhem,GE,sell_0024,utrecht,UT,...,1,236.30,196.38000,16.893779,-34.37,14.545070,0,0,0,0
1,ord_0059,2025-06-02 04:02:00,2025-06-02,2025-06-02 05:48:00,cust_0059,roermond,LI,sell_0007,vlissingen,ZL,...,-6,1392.09,308.90750,11.239216,0.00,NaN,0,0,0,1
2,ord_0119,2025-06-02 04:31:00,2025-06-02,2025-06-02 04:48:00,cust_0119,groningen,GR,sell_0018,rotterdam,ZH,...,<NA>,3048.38,719.17500,5.631844,0.00,NaN,0,0,0,1
3,ord_0098,2025-06-02 05:08:00,2025-06-02,2025-06-02 05:37:00,cust_0098,rotterdam,ZH,sell_0035,zaandam,NH,...,8,978.21,292.96000,10.154261,-62.42,6.381043,0,0,0,1
4,ord_0306,2025-06-02 09:06:00,2025-06-02,2025-06-02 10:04:00,cust_0106,kampen,OV,sell_0045,drachten,FR,...,4,177.10,120.30000,32.072276,-36.84,20.801807,1,0,1,0
5,ord_0305,2025-06-02 09:12:00,2025-06-02,2025-06-02 11:41:00,cust_0105,drachten,FR,sell_0006,zwolle,OV,...,7,1765.47,394.89250,10.529774,-132.36,7.497154,1,0,1,1
6,ord_0427,2025-06-02 11:26:00,2025-06-02,2025-06-02 12:33:00,cust_0027,leeuwarden,FR,sell_0002,maastricht,LI,...,0,183.47,143.19000,21.954543,0.00,NaN,1,1,0,0
7,ord_0254,2025-06-02 15:55:00,2025-06-02,2025-06-02 16:15:00,cust_0054,drachten,FR,sell_0016,dronten,FL,...,-5,3926.31,455.96125,7.096230,-146.12,3.721560,0,0,0,1
8,ord_0384,2025-06-02 16:00:00,2025-06-02,2025-06-02 18:37:00,cust_0184,rotterdam,ZH,sell_0029,heerlen,LI,...,-1,1338.87,234.31400,12.495612,-112.69,8.416799,0,0,0,1
9,ord_0507,2025-06-03 05:56:00,2025-06-03,2025-06-03 06:39:00,cust_0107,zoetermeer,ZH,sell_0045,drachten,FR,...,<NA>,106.03,85.51000,19.353013,-15.36,14.486466,0,0,0,0

## Step 5 — Aggregation, grouping, and export

Question: Can we summarize results per category or seller?
Action: Aggregate by category, month, and seller.
Outcome: Analytical dataset ready for KPI dashboards or modeling.

In [21]:
# Aggregate by month and product category
thread.ask(
    """
    From orders_features join back the main_product_category_name (if not already present) and aggregate by:
    month = date_trunc('month', order_date), product_category_name.
    Compute: orders_count, revenue_total, aov
    Return as df_category_month.
    """
)

======== <THINKING> ========

**Aggregating order data**

I need to work on aggregating data from orders_features, where they already have the main_product_category_name. I'll set the month by truncating the order_date to the month. I'll use order_purchase_date defined as DATE and identify the revenue_total likely as total_payment_value. The user wants revenue_total, excluding canceled orders. To simplify things, I'll use total_payment_value as revenue.  I’ll calculate orders_count, revenue_total, and average order value (AOV). I need to be mindful of the DuckDB syntax for date_trunc and ensure payments exist for each valid order.**Creating temp table for aggregation**

I'm thinking about how if there are nulls, the SUM will ignore them, but COUNT will still count all orders, which is good. This aligns with typical behavior. Now, I need to create a temporary table with a SQL command. I'll truncate the order_purchase_date to get the month, and I'll calculate the orders_count and revenue_total using COUNT and SUM. Then, I’ll compute average order value (AOV) only if orders count is greater than zero. After that, I'll sample some results from this table to confirm it worked!

[tool_call: 'run_sql_query']
```
{"sql": "CREATE TEMP TABLE df_category_month AS\nSELECT\n    DATE_TRUNC('month', order_purchase_date) AS month,\n    main_product_category_name AS product_category_name,\n    COUNT(*) AS orders_count,\n    SUM(total_payment_value) AS revenue_total,\n    CASE WHEN COUNT(*) > 0\n         THEN SUM(total_payment_value) / COUNT(*)\n         ELSE NULL\n    END AS aov\nFROM orders_features\nGROUP BY 1, 2\nORDER BY 1, 2;"}
```


```sql
CREATE TEMP TABLE df_category_month AS
SELECT
    DATE_TRUNC('month', order_purchase_date) AS month,
    main_product_category_name AS product_category_name,
    COUNT(*) AS orders_count,
    SUM(total_payment_value) AS revenue_total,
    CASE WHEN COUNT(*) > 0
         THEN SUM(total_payment_value) / COUNT(*)
         ELSE NULL
    END AS aov
FROM orders_features
GROUP BY 1, 2
ORDER BY 1, 2;
```


[tool_call_output: 'run_sql_query']
```
query_id='43-0'
```

[df: name=df, showing 0 / 0 rows]




[tool_call: 'run_sql_query']
```
{"sql": "SELECT * FROM df_category_month ORDER BY month, product_category_name LIMIT 20;"}
```


```sql
SELECT * FROM df_category_month ORDER BY month, product_category_name LIMIT 20;
```


[tool_call_output: 'run_sql_query']
```
query_id='45-0'

month,product_category_name,orders_count,revenue_total,aov
2025-06-01,Beauty & Health,8,6088.22,761.0275
2025-06-01,"Bed, Bath & Table",8,9505.27,1188.15875
2025-06-01,Car,8,11747.85,1468.48125
2025-06-01,Computers,12,24325.25,2027.1041666666667
2025-06-01,Cool Stuff,19,36402.21,1915.905789473684
2025-06-01,Electronics,8,8396.15,1049.51875
2025-06-01,Fashion & Shoes,3,501.9,167.29999999999998
2025-06-01,Furniture & Decor,6,19038.46,3173.0766666666664
2025-06-01,Garden Tools,9,7898.44,877.6044444444444
2025-06-01,Musical Instruments,12,24743.67,2061.9725
2025-06-01,Office Supplies,4,695.25,173.8125
2025-06-01,Pets,8,6953.39,869.17375

Result is truncated from 20 to 12 rows.
```

[df: name=df, showing 10 / 20 rows]
| month               | product_category_name   |   orders_count |   revenue_total |      aov |
|:--------------------|:------------------------|---------------:|----------------:|---------:|
| 2025-06-01 00:00:00 | Beauty & Health         |              8 |         6088.22 |  761.028 |
| 2025-06-01 00:00:00 | Bed, Bath & Table       |              8 |         9505.27 | 1188.16  |
| 2025-06-01 00:00:00 | Car                     |              8 |        11747.9  | 1468.48  |
| 2025-06-01 00:00:00 | Computers               |             12 |        24325.2  | 2027.1   |
| 2025-06-01 00:00:00 | Cool Stuff              |             19 |        36402.2  | 1915.91  |
| 2025-06-01 00:00:00 | Electronics             |              8 |         8396.15 | 1049.52  |
| 2025-06-01 00:00:00 | Fashion & Shoes         |              3 |          501.9  |  167.3   |
| 2025-06-01 00:00:00 | Furniture & Decor       |              6 |        19038.5  | 3173.08  |
| 2025-06-01 00:00:00 | Garden Tools            |              9 |         7898.44 |  877.604 |
| 2025-06-01 00:00:00 | Musical Instruments     |             12 |        24743.7  | 2061.97  |



[tool_call: 'submit_result']
```
{"query_id":"45-0","result_description":"Aggregated KPIs by month and main_product_category_name from orders_features. Table df_category_month (TEMP) includes: month (date_trunc('month', order_purchase_date)), product_category_name, orders_count (number of orders), revenue_total (sum of total_payment_value), and aov (average order value = revenue_total / orders_count). Values are limited here to the first 20 rows; query df_category_month directly for the full result.","visualization_prompt":""}
```


[tool_call_output: 'submit_result']
```
Query 45-0 submitted successfully. Your response is now visible to the user.
```


======== </THINKING> ========

Materialized Thread with 20 data rows.

In [22]:
df_category_month = thread.df()
df_category_month.head()

       month product_category_name  orders_count  revenue_total          aov
0 2025-06-01       Beauty & Health             8        6088.22   761.027500
1 2025-06-01     Bed, Bath & Table             8        9505.27  1188.158750
2 2025-06-01                   Car             8       11747.85  1468.481250
3 2025-06-01             Computers            12       24325.25  2027.104167
4 2025-06-01            Cool Stuff            19       36402.21  1915.905789

In [23]:
# Aggregate by seller overall
thread.ask(
    """
    Aggregate performance by seller_id using orders_features
    """
)

======== <THINKING> ========

**Aggregating seller performance metrics**

The user wants to create an aggregation table by seller_id using the orders_features temp table. I'll select reasonable metrics like orders_count, revenue_total, avg_order_value, items_count_sum, and others while ensuring I keep explanations concise. I'll use SQL to create a temp table for seller performance and return a sample DataFrame. I need to make sure I recall the relevant columns from the orders_features table and compute averages correctly in DuckDB, especially converting is_late to a double for accurate calculations.**Creating seller performance table**

I'm working with integer values of 0 and 1, and I know DuckDB's AVG will automatically cast these to double, which is good! Just to be cautious, I have to pay attention to NaN values for discount_pct, but it’s numeric. For calculating avg_discount_pct, I can use AVG(discount_pct) while ignoring nulls. I need to create the temp table seller_performance by selecting from orders_features and grouping by seller_id, seller_city, and seller_state. I'll run the SQL queries and return a sample. Time to execute this!

[tool_call: 'run_sql_query']
```
{"sql": "CREATE TEMP TABLE seller_performance AS\nSELECT\n    seller_id,\n    seller_city,\n    seller_state,\n    COUNT(*) AS orders_count,\n    COUNT(DISTINCT customer_id) AS customers_count,\n    SUM(total_payment_value) AS revenue_total,\n    SUM(order_gmv) AS gmv_total,\n    CASE WHEN COUNT(*) > 0 THEN SUM(total_payment_value) / COUNT(*) ELSE NULL END AS avg_order_value,\n    CASE WHEN COUNT(*) > 0 THEN SUM(order_gmv) / COUNT(*) ELSE NULL END AS avg_order_gmv,\n    CASE WHEN COUNT(*) > 0 THEN SUM(items_count) / COUNT(*) ELSE NULL END AS avg_items_per_order,\n    AVG(delivery_days) AS avg_delivery_days,\n    AVG(delivery_delay_days) AS avg_delivery_delay_days,\n    AVG(is_late) AS late_rate,\n    AVG(has_review) AS review_coverage_rate,\n    AVG(is_positive_review) AS positive_review_rate,\n    AVG(is_negative_review) AS negative_review_rate,\n    AVG(is_high_value_order) AS high_value_order_share,\n    AVG(discount_pct) AS avg_discount_pct,\n    AVG(freight_share_pct) AS avg_freight_share_pct\nFROM orders_features\nGROUP BY seller_id, seller_city, seller_state;"}
```


```sql
CREATE TEMP TABLE seller_performance AS
SELECT
    seller_id,
    seller_city,
    seller_state,
    COUNT(*) AS orders_count,
    COUNT(DISTINCT customer_id) AS customers_count,
    SUM(total_payment_value) AS revenue_total,
    SUM(order_gmv) AS gmv_total,
    CASE WHEN COUNT(*) > 0 THEN SUM(total_payment_value) / COUNT(*) ELSE NULL END AS avg_order_value,
    CASE WHEN COUNT(*) > 0 THEN SUM(order_gmv) / COUNT(*) ELSE NULL END AS avg_order_gmv,
    CASE WHEN COUNT(*) > 0 THEN SUM(items_count) / COUNT(*) ELSE NULL END AS avg_items_per_order,
    AVG(delivery_days) AS avg_delivery_days,
    AVG(delivery_delay_days) AS avg_delivery_delay_days,
    AVG(is_late) AS late_rate,
    AVG(has_review) AS review_coverage_rate,
    AVG(is_positive_review) AS positive_review_rate,
    AVG(is_negative_review) AS negative_review_rate,
    AVG(is_high_value_order) AS high_value_order_share,
    AVG(discount_pct) AS avg_discount_pct,
    AVG(freight_share_pct) AS avg_freight_share_pct
FROM orders_features
GROUP BY seller_id, seller_city, seller_state;
```


[tool_call_output: 'run_sql_query']
```
query_id='50-0'
```

[df: name=df, showing 0 / 0 rows]




[tool_call: 'run_sql_query']
```
{"sql": "SELECT * FROM seller_performance ORDER BY revenue_total DESC LIMIT 20;"}
```


```sql
SELECT * FROM seller_performance ORDER BY revenue_total DESC LIMIT 20;
```


[tool_call_output: 'run_sql_query']
```
query_id='52-0'

seller_id,seller_city,seller_state,orders_count,customers_count,revenue_total,gmv_total,avg_order_value,avg_order_gmv,avg_items_per_order,avg_delivery_days,avg_delivery_delay_days,late_rate,review_coverage_rate,positive_review_rate,negative_review_rate,high_value_order_share,avg_discount_pct,avg_freight_share_pct
sell_0029,heerlen,LI,16,16,24846.45,25516.54,1552.903125,1594.78375,3.25,9.5,-0.4,0.3125,0.1875,0.0625,0.125,0.875,4.1199461308464675,7.600286190280313
sell_0012,zoetermeer,ZH,14,14,23733.86,24532.22,1695.2757142857142,1752.3014285714287,2.857142857142857,11.222222222222221,0.4444444444444444,0.2857142857142857,0.21428571428571427,0.07142857142857142,0.14285714285714285,0.6428571428571429,9.187531936987414,11.914043490588725
sell_0018,rotterdam,ZH,15,15,22972.72,23401.34,1531.5146666666667,1560.0893333333333,2.6,10.7,0.3,0.26666666666666666,0.13333333333333333,0.13333333333333333,0.0,0.6666666666666666,3.2367049238077215,6.5000668841121785
sell_0050,emmmen,DR,11,11,21387.74,21786.29,1944.3400000000001,1980.5718181818183,2.8181818181818183,10.444444444444445,-1.5555555555555556,0.45454545454545453,0.36363636363636365,0.09090909090909091,0.2727272727272727,0.7272727272727273,3.765769495511309,9.245448150663517
sell_0023,maastricht,LI,18,17,20249.07,20346.34,1124.9483333333333,1130.3522222222223,2.0,10.125,0.25,0.5,0.5555555555555556,0.2222222222222222,0.2777777777777778,0.6111111111111112,11.301616453172935,10.860973231338827
sell_0043,breda,NB,16,15,19870.99,20122.53,1241.936875,1257.658125,1.875,9.76923076923077,-1.7692307692307692,0.375,0.4375,0.25,0.1875,0.5,4.056272227346316,10.591224091329371
sell_0031,utrecht,UT,15,15,19846.49,20062.13,1323.0993333333333,1337.4753333333333,1.6666666666666667,8.916666666666666,-0.5833333333333334,0.4,0.3333333333333333,0.13333333333333333,0.2,0.6666666666666666,5.336271059828845,6.377300308917353
sell_0025,utrecht,UT,14,14,19710.86,19918.31,1407.9185714285716,1422.7364285714286,1.8571428571428572,8.4,-4.3,0.07142857142857142,0.42857142857142855,0.35714285714285715,0.07142857142857142,0.5714285714285714,3.4685277437026243,3.820138452748246
sell_0030,lelystad,FL,13,13,18920.93,19353.41,1455.456153846154,1488.7238461538461,3.230769230769231,11.4,0.6,0.46153846153846156,0.46153846153846156,0.15384615384615385,0.3076923076923077,0.6923076923076923,6.610004472843983,14.62632611569115
sell_0003,assen,DR,15,13,18029.35,18309.91,1201.9566666666665,1220.6606666666667,2.8,8.666666666666666,-2.25,0.26666666666666666,0.2,0.2,0.0,0.7333333333333333,4.410731804701362,7.75976247124328
sell_0001,utrecht,UT,14,14,17976.73,18299.13,1284.0521428571428,1307.0807142857143,2.642857142857143,8.88888888888889,-4.0,0.21428571428571427,0.2857142857142857,0.2857142857142857,0.0,0.7857142857142857,4.394201915796635,8.453810936839071
sell_0015,maastricht,LI,11,11,17883.52,17923.79,1625.7745454545454,1629.4354545454546,2.272727272727273,9.1,-0.8,0.45454545454545453,0.36363636363636365,0.18181818181818182,0.18181818181818182,0.6363636363636364,6.672534131952456,8.081996398502081

Result is truncated from 20 to 12 rows.
```

[df: name=df, showing 10 / 20 rows]
| seller_id   | seller_city   | seller_state   |   orders_count |   customers_count |   revenue_total |   gmv_total |   avg_order_value |   avg_order_gmv |   avg_items_per_order |   avg_delivery_days |   avg_delivery_delay_days |   late_rate |   review_coverage_rate |   positive_review_rate |   negative_review_rate |   high_value_order_share |   avg_discount_pct |   avg_freight_share_pct |
|:------------|:--------------|:---------------|---------------:|------------------:|----------------:|------------:|------------------:|----------------:|----------------------:|--------------------:|--------------------------:|------------:|-----------------------:|-----------------------:|-----------------------:|-------------------------:|-------------------:|------------------------:|
| sell_0029   | heerlen       | LI             |             16 |                16 |         24846.5 |     25516.5 |           1552.9  |         1594.78 |               3.25    |             9.5     |                 -0.4      |   0.3125    |               0.1875   |              0.0625    |              0.125     |                 0.875    |            4.11995 |                 7.60029 |
| sell_0012   | zoetermeer    | ZH             |             14 |                14 |         23733.9 |     24532.2 |           1695.28 |         1752.3  |               2.85714 |            11.2222  |                  0.444444 |   0.285714  |               0.214286 |              0.0714286 |              0.142857  |                 0.642857 |            9.18753 |                11.914   |
| sell_0018   | rotterdam     | ZH             |             15 |                15 |         22972.7 |     23401.3 |           1531.51 |         1560.09 |               2.6     |            10.7     |                  0.3      |   0.266667  |               0.133333 |              0.133333  |              0         |                 0.666667 |            3.2367  |                 6.50007 |
| sell_0050   | emmmen        | DR             |             11 |                11 |         21387.7 |     21786.3 |           1944.34 |         1980.57 |               2.81818 |            10.4444  |                 -1.55556  |   0.454545  |               0.363636 |              0.0909091 |              0.272727  |                 0.727273 |            3.76577 |                 9.24545 |
| sell_0023   | maastricht    | LI             |             18 |                17 |         20249.1 |     20346.3 |           1124.95 |         1130.35 |               2       |            10.125   |                  0.25     |   0.5       |               0.555556 |              0.222222  |              0.277778  |                 0.611111 |           11.3016  |                10.861   |
| sell_0043   | breda         | NB             |             16 |                15 |         19871   |     20122.5 |           1241.94 |         1257.66 |               1.875   |             9.76923 |                 -1.76923  |   0.375     |               0.4375   |              0.25      |              0.1875    |                 0.5      |            4.05627 |                10.5912  |
| sell_0031   | utrecht       | UT             |             15 |                15 |         19846.5 |     20062.1 |           1323.1  |         1337.48 |               1.66667 |             8.91667 |                 -0.583333 |   0.4       |               0.333333 |              0.133333  |              0.2       |                 0.666667 |            5.33627 |                 6.3773  |
| sell_0025   | utrecht       | UT             |             14 |                14 |         19710.9 |     19918.3 |           1407.92 |         1422.74 |               1.85714 |             8.4     |                 -4.3      |   0.0714286 |               0.428571 |              0.357143  |              0.0714286 |                 0.571429 |            3.46853 |                 3.82014 |
| sell_0030   | lelystad      | FL             |             13 |                13 |         18920.9 |     19353.4 |           1455.46 |         1488.72 |               3.23077 |            11.4     |                  0.6      |   0.461538  |               0.461538 |              0.153846  |              0.307692  |                 0.692308 |            6.61    |                14.6263  |
| sell_0003   | assen         | DR             |             15 |                13 |         18029.3 |     18309.9 |           1201.96 |         1220.66 |               2.8     |             8.66667 |                 -2.25     |   0.266667  |               0.2      |              0.2       |              0         |                 0.733333 |            4.41073 |                 7.75976 |

Here’s a seller‑level performance aggregation built from `orders_features`.

I created a temp table `seller_performance`:

```sql
CREATE TEMP TABLE seller_performance AS
SELECT
    seller_id,
    seller_city,
    seller_state,

    -- Volume / reach
    COUNT(*)                          AS orders_count,
    COUNT(DISTINCT customer_id)       AS customers_count,

    -- Commercials
    SUM(total_payment_value)          AS revenue_total,
    SUM(order_gmv)                    AS gmv_total,
    CASE WHEN COUNT(*) > 0
         THEN SUM(total_payment_value) / COUNT(*)
         ELSE NULL
    END                               AS avg_order_value,
    CASE WHEN COUNT(*) > 0
         THEN SUM(order_gmv) / COUNT(*)
         ELSE NULL
    END                               AS avg_order_gmv,
    CASE WHEN COUNT(*) > 0
         THEN SUM(items_count) / COUNT(*)
         ELSE NULL
    END                               AS avg_items_per_order,

    -- Operations
    AVG(delivery_days)                AS avg_delivery_days,
    AVG(delivery_delay_days)          AS avg_delivery_delay_days,
    AVG(is_late)                      AS late_rate,

    -- Reviews / CX
    AVG(has_review)                   AS review_coverage_rate,
    AVG(is_positive_review)           AS positive_review_rate,
    AVG(is_negative_review)           AS negative_review_rate,

    -- Mix / pricing
    AVG(is_high_value_order)          AS high_value_order_share,
    AVG(discount_pct)                 AS avg_discount_pct,
    AVG(freight_share_pct)            AS avg_freight_share_pct
FROM orders_features
GROUP BY seller_id, seller_city, seller_state;
```

You can inspect it with, for example:

```sql
SELECT * FROM seller_performance
ORDER BY revenue_total DESC
LIMIT 20;
```

This gives you, per seller, volume, customer reach, revenue/GMV, basket size, delivery performance, review quality, share of high‑value orders, and average discount/freight mix.
======== </THINKING> ========

Materialized Thread with 20 data rows.

In [24]:
df_seller_kpis = thread.df()
df_seller_kpis.head()

,seller_id,seller_city,seller_state,orders_count,customers_count,revenue_total,gmv_total,avg_order_value,avg_order_gmv,avg_items_per_order,avg_delivery_days,avg_delivery_delay_days,late_rate,review_coverage_rate,positive_review_rate,negative_review_rate,high_value_order_share,avg_discount_pct,avg_freight_share_pct
0,sell_0029,heerlen,LI,16,16,24846.45,25516.54,1552.903125,1594.783750,3.250000,9.500000,-0.400000,0.312500,0.187500,0.062500,0.125000,0.875000,4.119946,7.600286
1,sell_0012,zoetermeer,ZH,14,14,23733.86,24532.22,1695.275714,1752.301429,2.857143,11.222222,0.444444,0.285714,0.214286,0.071429,0.142857,0.642857,9.187532,11.914043
2,sell_0018,rotterdam,ZH,15,15,22972.72,23401.34,1531.514667,1560.089333,2.600000,10.700000,0.300000,0.266667,0.133333,0.133333,0.000000,0.666667,3.236705,6.500067
3,sell_0050,emmmen,DR,11,11,21387.74,21786.29,1944.340000,1980.571818,2.818182,10.444444,-1.555556,0.454545,0.363636,0.090909,0.272727,0.727273,3.765769,9.245448
4,sell_0023,maastricht,LI,18,17,20249.07,20346.34,1124.948333,1130.352222,2.000000,10.125000,0.250000,0.500000,0.555556,0.222222,0.277778,0.611111,11.301616,10.860973

### Wrapping it up

- You just walked through the complete data preparation workflow in Databao: Understanding → Cleaning → Integration → Feature Engineering → Aggregation & Export.
- You used both per‑source and project‑wide contexts to guide the LLM and ensure consistent results.
- You used `.ask()` in the default eager mode to materialize results incrementally. You can also try to chain multiple asks and compute them at once in a new thread with `lazy=True`.
- Your final datasets are now analytics-ready and suitable for dashboards, exploratory analysis, or downstream machine-learning pipelines.